Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label cats PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootSvgdotjs PRs, Label rootTable PRs, Label rootTree PRs, Label rootVirtuoso PRs, Label svgdotjs PRs, Label table PRs, Label table-demo PRs, Label test PRs, Label tree PRs, Label tree-demo PRs, Label virtuoso PRs, Label virtuoso-demo PRs

Label beautiful-dnd PRs:
  label:
    add:
    - beautiful-dnd
    remove: []

Label beautiful-dnd-demo PRs:
  label:
    add:
    - beautiful-dnd-demo
    remove: []

Label cats PRs:
  label:
    add:
    - cats
    remove: []

Label clipboard PRs:
  label:
    add:
    - clipboard
    remove: []

Label common PRs:
  label:
    add:
    - common
    remove: []

Label datepicker PRs:
  label:
    add:
    - datepicker
    remove: []

Label datepicker-demo PRs:
  label:
    add:
    - datepicker-demo
    remove: []

Label draggable PRs:
  label:
    add:
    - draggable
    remove: []

Label grid-layout PRs:
  label:
    add:
    - grid-layout
    remove: []

Label grid-layout-demo PRs:
  label:
    add:
    - grid-layout-demo
    remove: []

Label highcharts PRs:
  label:
    add:
    - highcharts
    remove: []

Label highcharts-demo PRs:
  label:
    add:
    - highcharts-demo
    remove: []

Label rootBeautifulDnd PRs:
  label:
    add:
    - rootBeautifulDnd
    remove: []

Label rootClipboard PRs:
  label:
    add:
    - rootClipboard
    remove: []

Label rootCore PRs:
  label:
    add:
    - rootCore
    remove: []

Label rootDatepicker PRs:
  label:
    add:
    - rootDatepicker
    remove: []

Label rootDraggable PRs:
  label:
    add:
    - rootDraggable
    remove: []

Label rootGridLayout PRs:
  label:
    add:
    - rootGridLayout
    remove: []

Label rootHighcharts PRs:
  label:
    add:
    - rootHighcharts
    remove: []

Label rootSvgdotjs PRs:
  label:
    add:
    - rootSvgdotjs
    remove: []

Label rootTable PRs:
  label:
    add:
    - rootTable
    remove: []

Label rootTree PRs:
  label:
    add:
    - rootTree
    remove: []

Label rootVirtuoso PRs:
  label:
    add:
    - rootVirtuoso
    remove: []

Label svgdotjs PRs:
  label:
    add:
    - svgdotjs
    remove: []

Label table PRs:
  label:
    add:
    - table
    remove: []

Label table-demo PRs:
  label:
    add:
    - table-demo
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

Label tree PRs:
  label:
    add:
    - tree
    remove: []

Label tree-demo PRs:
  label:
    add:
    - tree-demo
    remove: []

Label virtuoso PRs:
  label:
    add:
    - virtuoso
    remove: []

Label virtuoso-demo PRs:
  label:
    add:
    - virtuoso-demo
    remove: []

Import virtuoso
  build.sbt
  draggable/yarn.lock
  grid-layout/yarn.lock
  package.json
  svgdotjs/yarn.lock
  test/yarn.lock
  virtuoso-demo/src/main/scala/react/table/demo/Demo.scala
  virtuoso-demo/src/main/webapp/index.html
  virtuoso-demo/src/main/webapp/main.jsx
  virtuoso-demo/src/main/webapp/styles.css
  virtuoso-demo/vite.config.js
  virtuoso/src/main/scala/react/virtuoso/GroupedVirtuoso.scala
  virtuoso/src/main/scala/react/virtuoso/Virtuoso.scala
  virtuoso/src/main/scala/react/virtuoso/enums.scala
  virtuoso/src/main/scala/react/virtuoso/interfaces.scala
  virtuoso/src/main/scala/react/virtuoso/package.scala
  virtuoso/yarn.lock
  yarn.lock
Due: Label draggable PRs, Label grid-layout PRs, Label svgdotjs PRs, Label test PRs, Label virtuoso PRs, Label virtuoso-demo PRs

Add webpack config
  virtuoso/src/webpack/test.webpack.config.js
Due: Label virtuoso PRs

Regenerate mergify
  .mergify.yml
Due: none

Update lockfiles
  clipboard/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  svgdotjs/yarn.lock
  table/yarn.lock
  test/yarn.lock
  virtuoso/yarn.lock
Due: Label clipboard PRs, Label draggable PRs, Label grid-layout PRs, Label svgdotjs PRs, Label table PRs, Label test PRs, Label virtuoso PRs

Try again
  package.json
  svgdotjs/yarn.lock
  table/yarn.lock
Due: Label svgdotjs PRs, Label table PRs

Try again
  svgdotjs/yarn.lock
  table/yarn.lock
  yarn.lock
Due: Label svgdotjs PRs, Label table PRs

Add jvmopts
  .jvmopts
Due: none

Spinning a yarn ...
  clipboard/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  package.json
  svgdotjs/yarn.lock
  table/yarn.lock
  test/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label clipboard PRs, Label draggable PRs, Label grid-layout PRs, Label svgdotjs PRs, Label table PRs, Label test PRs, Label virtuoso PRs

Update lockfiles again?
  svgdotjs/yarn.lock
  table/yarn.lock
Due: Label svgdotjs PRs, Label table PRs

Clean out and update all the locks
  clipboard/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  package.json
  svgdotjs/yarn.lock
  table/yarn.lock
  test/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label clipboard PRs, Label draggable PRs, Label grid-layout PRs, Label svgdotjs PRs, Label table PRs, Label test PRs, Label virtuoso PRs

Fix compile
  grid-layout/src/main/scala/react/gridlayout/ResponsiveReactGridLayout.scala
Due: Label grid-layout PRs

JsNumber -> Double
  draggable/src/main/scala/react/draggable/Draggable.scala
  draggable/src/main/scala/react/draggable/package.scala
  grid-layout-demo/src/main/scala/ResizeDetector.scala
  grid-layout-demo/src/main/scala/react/resize.scala
  grid-layout/src/main/scala/react/gridlayout/BaseProps.scala
  grid-layout/src/main/scala/react/gridlayout/ReactGridLayout.scala
  virtuoso/src/main/scala/react/virtuoso/GroupedVirtuoso.scala
  virtuoso/src/main/scala/react/virtuoso/Virtuoso.scala
Due: Label draggable PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label virtuoso PRs

Formatting
  draggable/src/main/scala/react/draggable/package.scala
Due: Label draggable PRs

Tweak Double -> Int in virtuoso facade
  virtuoso/src/main/scala/react/virtuoso/GroupedVirtuoso.scala
  virtuoso/src/main/scala/react/virtuoso/Virtuoso.scala
Due: Label virtuoso PRs

Name all the modules
  build.sbt
Due: none

Import highcharts
  build.sbt
  highcharts-demo/src/main/scala/react/highcharts/demo/Demo.scala
  highcharts-demo/src/main/webapp/index.html
  highcharts-demo/src/main/webapp/main.jsx
  highcharts-demo/src/main/webapp/styles.css
  highcharts-demo/vite.config.js
  highcharts/package.json
  highcharts/src/main/scala/react/highcharts/Chart.scala
  highcharts/src/main/scala/react/highcharts/TooltipOptionsWithPositioner.scala
  highcharts/src/main/scala/react/highcharts/implicits.scala
  highcharts/src/main/scala/react/highcharts/mods/seriesLabel/SeriesLabelPoint.scala
  highcharts/src/main/scala/react/highcharts/mods/seriesLabel/SeriesLabelSeries.scala
  highcharts/src/main/scala/react/highcharts/mods/seriesLabel/package.scala
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
  highcharts/src/webpack/test.webpack.config.js
  highcharts/yarn.lock
  package.json
  yarn.lock
Due: Label highcharts PRs, Label highcharts-demo PRs

Update the lockfiles
  clipboard/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  svgdotjs/yarn.lock
  table/yarn.lock
  test/yarn.lock
  virtuoso/yarn.lock
Due: Label clipboard PRs, Label draggable PRs, Label grid-layout PRs, Label svgdotjs PRs, Label table PRs, Label test PRs, Label virtuoso PRs

Update mergify config
  .mergify.yml
Due: none

Add highcharts to root
  build.sbt
Due: none

Formatting
  highcharts/src/main/scala/react/highcharts/Chart.scala
Due: Label highcharts PRs

[ci skip] update vite config
  grid-layout-demo/vite.config.js
Due: Label grid-layout-demo PRs

Import datepicker
  build.sbt
  datepicker-demo/src/main/scala/react/datepicker/demo/Demo.scala
  datepicker-demo/src/main/webapp/index.html
  datepicker-demo/src/main/webapp/main.jsx
  datepicker-demo/src/main/webapp/styles.css
  datepicker-demo/vite.config.js
  datepicker-demo/yarn.lock
  datepicker/package.json
  datepicker/src/main/scala/react/datepicker/Datepicker.scala
  datepicker/src/main/scala/react/datepicker/package.scala
  datepicker/src/webpack/test.webpack.config.js
  datepicker/yarn.lock
  package.json
  yarn.lock
Due: Label datepicker PRs, Label datepicker-demo PRs

Update mergify
  .mergify.yml
Due: none

Update lockfiles
  clipboard/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  svgdotjs/yarn.lock
  table/yarn.lock
  test/yarn.lock
  virtuoso/yarn.lock
Due: Label clipboard PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label svgdotjs PRs, Label table PRs, Label test PRs, Label virtuoso PRs

Fix datepicker module name
  build.sbt
Due: none

Import beatiful-dnd, tree
  beautiful-dnd-demo/src/main/scala/react/beautifuldnd/demo/BeautifulDnDDemo.scala
  beautiful-dnd-demo/src/main/webapp/index.html
  beautiful-dnd-demo/src/main/webapp/main.jsx
  beautiful-dnd-demo/src/main/webapp/styles.css
  beautiful-dnd-demo/vite.config.js
  beautiful-dnd/src/main/scala/react/beautifuldnd/DragDropContext.scala
  beautiful-dnd/src/main/scala/react/beautifuldnd/Draggable.scala
  beautiful-dnd/src/main/scala/react/beautifuldnd/Droppable.scala
  beautiful-dnd/src/main/scala/react/beautifuldnd/StructuresJS.scala
  beautiful-dnd/src/main/scala/react/beautifuldnd/package.scala
  build.sbt
  package.json
  tree-demo/src/main/scala/react/atlasKit/tree/demo/TreeDemo.scala
  tree-demo/src/main/scala/react/atlasKit/tree/demo/package.scala
  tree-demo/src/main/webapp/index.html
  tree-demo/src/main/webapp/main.jsx
  tree-demo/src/main/webapp/styles.css
  tree-demo/vite.config.js
  tree/src/main/scala/react/atlasKit/tree/Tree.scala
  yarn.lock
Due: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label tree PRs, Label tree-demo PRs

Formatting
  tree/src/main/scala/react/atlasKit/tree/Tree.scala
Due: Label tree PRs

Add missing files
  beautiful-dnd/src/webpack/test.webpack.config.js
  beautiful-dnd/yarn.lock
  tree/src/webpack/test.webpack.config.js
  tree/yarn.lock
Due: Label beautiful-dnd PRs, Label tree PRs

Regenerate stuff
  .mergify.yml
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  svgdotjs/yarn.lock
  table/yarn.lock
  test/yarn.lock
  virtuoso/yarn.lock
Due: Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label svgdotjs PRs, Label table PRs, Label test PRs, Label virtuoso PRs

[ci skip] Update readme
  README.md
Due: none

Bump to 3.1.2 final
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Parallelize CI
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

No-publish new roots
  build.sbt
Due: none

Bump react-virtuoso 2.10.2 -> 2.13.2
  build.sbt
Due: none

Add sui to the build
  .mergify.yml
  build.sbt
Due: none

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label cats PRs: any of: ^cats/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootSvgdotjs PRs: any of: ^rootSvgdotjs/
  Label rootTable PRs: any of: ^rootTable/
  Label rootTree PRs: any of: ^rootTree/
  Label rootVirtuoso PRs: any of: ^rootVirtuoso/
  Label svgdotjs PRs: any of: ^svgdotjs/
  Label table PRs: any of: ^table/
  Label table-demo PRs: any of: ^table-demo/
  Label test PRs: any of: ^test/
  Label tree PRs: any of: ^tree/
  Label tree-demo PRs: any of: ^tree-demo/
  Label virtuoso PRs: any of: ^virtuoso/
  Label virtuoso-demo PRs: any of: ^virtuoso-demo/
