Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label circular-progressbar PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label font-awesome PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label hotkeys PRs, Label hotkeys-demo PRs, Label moon PRs, Label prime-react PRs, Label prime-react-demo PRs, Label resizable PRs, Label resizable-demo PRs, Label resize-detector PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootHotkeys PRs, Label rootPrimeReact PRs, Label rootResizable PRs, Label rootSemanticUI PRs, Label rootTable PRs, Label rootTanstackTable PRs, Label rootTree PRs, Label rootVirtuoso PRs, Label semantic-ui PRs, Label semantic-ui-demo PRs, Label table PRs, Label table-demo PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs, Label test PRs, Label tree PRs, Label tree-demo PRs, Label virtuoso PRs, Label virtuoso-demo PRs

Label beautiful-dnd PRs:
  label:
    add:
    - beautiful-dnd
    remove: []

Label beautiful-dnd-demo PRs:
  label:
    add:
    - beautiful-dnd-demo
    remove: []

Label circular-progressbar PRs:
  label:
    add:
    - circular-progressbar
    remove: []

Label clipboard PRs:
  label:
    add:
    - clipboard
    remove: []

Label common PRs:
  label:
    add:
    - common
    remove: []

Label datepicker PRs:
  label:
    add:
    - datepicker
    remove: []

Label datepicker-demo PRs:
  label:
    add:
    - datepicker-demo
    remove: []

Label draggable PRs:
  label:
    add:
    - draggable
    remove: []

Label font-awesome PRs:
  label:
    add:
    - font-awesome
    remove: []

Label grid-layout PRs:
  label:
    add:
    - grid-layout
    remove: []

Label grid-layout-demo PRs:
  label:
    add:
    - grid-layout-demo
    remove: []

Label highcharts PRs:
  label:
    add:
    - highcharts
    remove: []

Label highcharts-demo PRs:
  label:
    add:
    - highcharts-demo
    remove: []

Label hotkeys PRs:
  label:
    add:
    - hotkeys
    remove: []

Label hotkeys-demo PRs:
  label:
    add:
    - hotkeys-demo
    remove: []

Label moon PRs:
  label:
    add:
    - moon
    remove: []

Label prime-react PRs:
  label:
    add:
    - prime-react
    remove: []

Label prime-react-demo PRs:
  label:
    add:
    - prime-react-demo
    remove: []

Label resizable PRs:
  label:
    add:
    - resizable
    remove: []

Label resizable-demo PRs:
  label:
    add:
    - resizable-demo
    remove: []

Label resize-detector PRs:
  label:
    add:
    - resize-detector
    remove: []

Label rootBeautifulDnd PRs:
  label:
    add:
    - rootBeautifulDnd
    remove: []

Label rootClipboard PRs:
  label:
    add:
    - rootClipboard
    remove: []

Label rootCore PRs:
  label:
    add:
    - rootCore
    remove: []

Label rootDatepicker PRs:
  label:
    add:
    - rootDatepicker
    remove: []

Label rootDraggable PRs:
  label:
    add:
    - rootDraggable
    remove: []

Label rootGridLayout PRs:
  label:
    add:
    - rootGridLayout
    remove: []

Label rootHighcharts PRs:
  label:
    add:
    - rootHighcharts
    remove: []

Label rootHotkeys PRs:
  label:
    add:
    - rootHotkeys
    remove: []

Label rootPrimeReact PRs:
  label:
    add:
    - rootPrimeReact
    remove: []

Label rootResizable PRs:
  label:
    add:
    - rootResizable
    remove: []

Label rootSemanticUI PRs:
  label:
    add:
    - rootSemanticUI
    remove: []

Label rootTable PRs:
  label:
    add:
    - rootTable
    remove: []

Label rootTanstackTable PRs:
  label:
    add:
    - rootTanstackTable
    remove: []

Label rootTree PRs:
  label:
    add:
    - rootTree
    remove: []

Label rootVirtuoso PRs:
  label:
    add:
    - rootVirtuoso
    remove: []

Label semantic-ui PRs:
  label:
    add:
    - semantic-ui
    remove: []

Label semantic-ui-demo PRs:
  label:
    add:
    - semantic-ui-demo
    remove: []

Label table PRs:
  label:
    add:
    - table
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

Remove unused imports and minor fixes
  prime-react/src/main/scala/react/primereact/Accordion.scala
  prime-react/src/main/scala/react/primereact/AccordionMultiple.scala
  prime-react/src/main/scala/react/primereact/Toolbar.scala
Due: Label prime-react PRs

Add TabView/TabPanel primereact components
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/TabPanel.scala
  prime-react/src/main/scala/react/primereact/TabView.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Add ability to add modifiers to the primereact components.
  build.sbt
  prime-react/src/main/scala/react/primereact/Accordion.scala
  prime-react/src/main/scala/react/primereact/AccordionBase.scala
  prime-react/src/main/scala/react/primereact/AccordionMultiple.scala
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/Card.scala
  prime-react/src/main/scala/react/primereact/Checkbox.scala
  prime-react/src/main/scala/react/primereact/Dialog.scala
  prime-react/src/main/scala/react/primereact/Divider.scala
  prime-react/src/main/scala/react/primereact/Dropdown.scala
  prime-react/src/main/scala/react/primereact/DropdownBase.scala
  prime-react/src/main/scala/react/primereact/DropdownOptional.scala
  prime-react/src/main/scala/react/primereact/InputSwitch.scala
  prime-react/src/main/scala/react/primereact/InputText.scala
  prime-react/src/main/scala/react/primereact/InputTextarea.scala
  prime-react/src/main/scala/react/primereact/Knob.scala
  prime-react/src/main/scala/react/primereact/Panel.scala
  prime-react/src/main/scala/react/primereact/ProgressBar.scala
  prime-react/src/main/scala/react/primereact/SelectButton.scala
  prime-react/src/main/scala/react/primereact/SelectButtonBase.scala
  prime-react/src/main/scala/react/primereact/SelectButtonMultiple.scala
  prime-react/src/main/scala/react/primereact/SelectButtonOptional.scala
  prime-react/src/main/scala/react/primereact/Sidebar.scala
  prime-react/src/main/scala/react/primereact/Slider.scala
  prime-react/src/main/scala/react/primereact/SliderRange.scala
  prime-react/src/main/scala/react/primereact/Splitter.scala
  prime-react/src/main/scala/react/primereact/TabView.scala
  prime-react/src/main/scala/react/primereact/Tag.scala
  prime-react/src/main/scala/react/primereact/Toolbar.scala
Due: Label prime-react PRs

some more components
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/Message.scala
  prime-react/src/main/scala/react/primereact/ProgressSpinner.scala
  prime-react/src/main/scala/react/primereact/SelectItem.scala
  prime-react/src/main/scala/react/primereact/ToggleButton.scala
  prime-react/src/main/scala/react/primereact/TooltipOptions.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

demo
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/Message.scala
  prime-react/src/main/scala/react/primereact/ToggleButton.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

add modifiers to new components
  prime-react/src/main/scala/react/primereact/Message.scala
  prime-react/src/main/scala/react/primereact/ProgressSpinner.scala
  prime-react/src/main/scala/react/primereact/ToggleButton.scala
Due: Label prime-react PRs

simplify syntax
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/ToggleButton.scala
Due: Label prime-react PRs

Add Menus and Toasts
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react-demo/src/main/scala/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/InlineMenu.scala
  prime-react/src/main/scala/react/primereact/MenuItem.scala
  prime-react/src/main/scala/react/primereact/Message.scala
  prime-react/src/main/scala/react/primereact/PopupMenu.scala
  prime-react/src/main/scala/react/primereact/TabMenu.scala
  prime-react/src/main/scala/react/primereact/Toast.scala
  prime-react/src/main/scala/react/primereact/hooks/UsePopupMenuRef.scala
  prime-react/src/main/scala/react/primereact/hooks/UseToastRef.scala
  prime-react/src/main/scala/react/primereact/hooks/hooks.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Rename plain JS object Message to MessageItem
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/MessageItem.scala
  prime-react/src/main/scala/react/primereact/Toast.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Add apply methods to complement withMods methods.
  prime-react-demo/src/main/scala/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/react/primereact/Checkbox.scala
  prime-react/src/main/scala/react/primereact/InputSwitch.scala
  prime-react/src/main/scala/react/primereact/Knob.scala
  prime-react/src/main/scala/react/primereact/ProgressBar.scala
  prime-react/src/main/scala/react/primereact/SelectButton.scala
  prime-react/src/main/scala/react/primereact/SelectButtonMultiple.scala
  prime-react/src/main/scala/react/primereact/SelectButtonOptional.scala
  prime-react/src/main/scala/react/primereact/Slider.scala
  prime-react/src/main/scala/react/primereact/SliderRange.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

More apply methods, and demonstrate/test in demo
  prime-react-demo/src/main/scala/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/react/primereact/Message.scala
  prime-react/src/main/scala/react/primereact/ProgressSpinner.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

scalafmt and scalafix
  prime-react/src/main/scala/react/primereact/PopupMenu.scala
  prime-react/src/main/scala/react/primereact/Toast.scala
Due: Label prime-react PRs

Reuse Message.Severity
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/Message.scala
  prime-react/src/main/scala/react/primereact/MessageItem.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Allow passing strings for more icons
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react-demo/src/main/scala/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/ConfirmDialog.scala
  prime-react/src/main/scala/react/primereact/ConfirmPopup.scala
  prime-react/src/main/scala/react/primereact/Message.scala
  prime-react/src/main/scala/react/primereact/Tag.scala
  prime-react/src/main/scala/react/primereact/ToggleButton.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

add modifiers to PopupMenu
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/PopupMenu.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Add modifiers to Toast
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/Toast.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Add methods to enable table selection
  common/src/main/scala/react/common/implicits/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
Due: Label common PRs, Label tanstack-table PRs

Update binary version
  build.sbt
Due: none

Allow custom icons in Dialog header
  build.sbt
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/Dialog.scala
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Add more scala types to table facade
  tanstack-table-demo/src/main/scala/react/table/demo/Table1.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table2.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table3.scala
  tanstack-table/src/main/scala/lucuma/react/SizePx.scala
  tanstack-table/src/main/scala/lucuma/react/syntax/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnOrder.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizing.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizingInfo.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSort.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnVisibility.scala
  tanstack-table/src/main/scala/lucuma/react/table/Expanded.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/HooksApiExt.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowSelection.scala
  tanstack-table/src/main/scala/lucuma/react/table/SortDirection.scala
  tanstack-table/src/main/scala/lucuma/react/table/Sorting.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/Visibility.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/Rect.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/VirtualHook.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/VirtualOptions.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

bump version, remove package-lock
  build.sbt
  package-lock.json
Due: none

prePR
  tanstack-table/src/main/scala/lucuma/react/SizePx.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnOrder.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizing.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnVisibility.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowSelection.scala
  tanstack-table/src/main/scala/lucuma/react/table/Sorting.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
Due: Label tanstack-table PRs

fix demo
  tanstack-table-demo/src/main/scala/react/table/demo/Table1.scala
Due: Label tanstack-table-demo PRs

imports, organize
  tanstack-table-demo/src/main/scala/react/table/demo/Table2.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table3.scala
Due: Label tanstack-table-demo PRs

fix return types on Table facade
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
Due: Label tanstack-table PRs

bump base version
  build.sbt
Due: none

Add a few more properties to Button
  prime-react/src/main/scala/react/primereact/Button.scala
Due: Label prime-react PRs

Fix loading icon property
  build.sbt
  prime-react/src/main/scala/react/primereact/Button.scala
Due: Label prime-react PRs

FontAwesomeIcon.clazz() adds a class rather than overwrites
  font-awesome/src/main/scala/react/fa/FontAwesomeIcon.scala
Due: Label font-awesome PRs

Make addClass() instead and prefix other methods with `with`
  build.sbt
  font-awesome/src/main/scala/react/fa/FontAwesomeIcon.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Due: Label font-awesome PRs, Label prime-react PRs

a bit more scalification of table facade
  tanstack-table-demo/src/main/scala/react/table/demo/Demo.scala
  tanstack-table-demo/src/main/scala/react/table/demo/RandomData.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table3.scala
  tanstack-table/src/main/scala/lucuma/react/table/BuiltInSorting.scala
  tanstack-table/src/main/scala/lucuma/react/table/Cell.scala
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnOrder.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnResizeMode.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizing.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizingInfo.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSort.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnVisibility.scala
  tanstack-table/src/main/scala/lucuma/react/table/Expandable.scala
  tanstack-table/src/main/scala/lucuma/react/table/Expanded.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/Row.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowSelection.scala
  tanstack-table/src/main/scala/lucuma/react/table/Sorting.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/UndefinedPriority.scala
  tanstack-table/src/main/scala/lucuma/react/table/Updater.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

remove commented code
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
Due: Label tanstack-table PRs

Add Messages component. Also add class to Message icon for spacing
  build.sbt
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/package.json
  prime-react/src/main/scala/react/primereact/Message.scala
  prime-react/src/main/scala/react/primereact/MessageItem.scala
  prime-react/src/main/scala/react/primereact/Messages.scala
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
  prime-react/src/main/scala/react/primereact/hooks/UseMessagesRef.scala
  prime-react/src/main/scala/react/primereact/hooks/hooks.scala
  prime-react/yarn.lock
Due: Label prime-react PRs, Label prime-react-demo PRs

Add control for RadioButton
  prime-react-demo/src/main/scala/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/react/primereact/RadioButton.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Improvements suggested on the PR review
  prime-react-demo/src/main/scala/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/react/primereact/RadioButton.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

some property renaming, expose virtualized debug
  tanstack-table-demo/src/main/scala/react/table/demo/Table2.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table3.scala
  tanstack-table/package-lock.json
  tanstack-table/package.json
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

bump, locks
  build.sbt
  tanstack-table/yarn.lock
Due: Label tanstack-table PRs

Pass ColumnDef.footer to underlying ST facade
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
Due: Label tanstack-table PRs

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label circular-progressbar PRs: any of: ^circular-progressbar/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label font-awesome PRs: any of: ^font-awesome/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label hotkeys PRs: any of: ^hotkeys/
  Label hotkeys-demo PRs: any of: ^hotkeys-demo/
  Label moon PRs: any of: ^moon/
  Label prime-react PRs: any of: ^prime-react/
  Label prime-react-demo PRs: any of: ^prime-react-demo/
  Label resizable PRs: any of: ^resizable/
  Label resizable-demo PRs: any of: ^resizable-demo/
  Label resize-detector PRs: any of: ^resize-detector/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootHotkeys PRs: any of: ^rootHotkeys/
  Label rootPrimeReact PRs: any of: ^rootPrimeReact/
  Label rootResizable PRs: any of: ^rootResizable/
  Label rootSemanticUI PRs: any of: ^rootSemanticUI/
  Label rootTable PRs: any of: ^rootTable/
  Label rootTanstackTable PRs: any of: ^rootTanstackTable/
  Label rootTree PRs: any of: ^rootTree/
  Label rootVirtuoso PRs: any of: ^rootVirtuoso/
  Label semantic-ui PRs: any of: ^semantic-ui/
  Label semantic-ui-demo PRs: any of: ^semantic-ui-demo/
  Label table PRs: any of: ^table/
  Label table-demo PRs: any of: ^table-demo/
  Label tanstack-table PRs: any of: ^tanstack-table/
  Label tanstack-table-demo PRs: any of: ^tanstack-table-demo/
  Label test PRs: any of: ^test/
  Label tree PRs: any of: ^tree/
  Label tree-demo PRs: any of: ^tree-demo/
  Label virtuoso PRs: any of: ^virtuoso/
  Label virtuoso-demo PRs: any of: ^virtuoso-demo/
