Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label cats PRs, Label common PRs, Label test PRs

Label cats PRs:
  label:
    add:
    - cats
    remove: []

Label common PRs:
  label:
    add:
    - common
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

Undo some over-aggressive reorganizing :)
  .gitignore
  build.sbt
  cats/src/test/scala/react/common/arb/ArbJsNumber.scala
  cats/src/test/scala/react/common/arb/ArbSize.scala
  cats/src/test/scala/react/common/arb/ArbStyle.scala
  cats/src/test/scala/react/common/arb/package.scala
  cats/src/test/scala/react/common/implicits/ReactCatsSuite.scala
  package.json
  test/yarn.lock
  yarn.lock
Due: Label cats PRs, Label test PRs

Disable Scala 3 for now
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Update sbt-lucuma-lib, ... to 0.6.3
  project/plugins.sbt
Due: none

Update sbt-converter to 1.0.0-beta37+17-715edaf5-SNAPSHOT
  project/plugins.sbt
Due: none

Bump sbt-lucuma, enable snapshots
  .github/workflows/ci.yml
  build.sbt
  project/plugins.sbt
Due: none

Formatting
  build.sbt
Due: none

Fix compile
  cats/src/main/scala/react/common/implicits/package.scala
  common/src/main/scala/react/common/package.scala
  common/src/main/scala/react/common/scalaComponents.scala
  common/src/main/scala/react/common/style/package.scala
  common/src/main/scala/react/common/syntax/package.scala
  test/src/test/scala/react/common/ReactPropsWithChildrenSuite.scala
Due: Label cats PRs, Label common PRs, Label test PRs

Quash more warnings
  test/src/test/scala/react/common/ReactPropsForwardRefSuite.scala
  test/src/test/scala/react/common/ReactPropsForwardRefWithChildrenSuite.scala
  test/src/test/scala/react/common/ReactPropsSuite.scala
Due: Label test PRs

Regenerate workflow
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Formatting
  common/src/main/scala/react/common/scalaComponents.scala
Due: Label common PRs

Fix broken test
  common/src/main/scala/react/common/scalaComponents.scala
Due: Label common PRs

Set scalafmt dialect to scala 3
  .scalafmt-common.conf
Due: none

Set scalafmt config in right file :)
  .scalafmt-common.conf
  .scalafmt.conf
Due: none

Import grid-layout
  build.sbt
  grid-layout/package.json
  grid-layout/src/main/scala/react/gridlayout/BaseProps.scala
  grid-layout/src/main/scala/react/gridlayout/ReactGridLayout.scala
  grid-layout/src/main/scala/react/gridlayout/ResponsiveReactGridLayout.scala
  grid-layout/src/main/scala/react/gridlayout/package.scala
  grid-layout/src/main/scala/react/gridlayout/raw/package.scala
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
  grid-layout/src/webpack/test.webpack.config.js
  grid-layout/yarn.lock
Due: none

Wip grid-layout-demo
  build.sbt
  grid-layout-demo/src/main/scala/ResizeDetector.scala
  grid-layout-demo/src/main/scala/react/gridlayout/Demo.scala
  grid-layout-demo/src/main/scala/react/resize.scala
  grid-layout-demo/src/main/webapp/index.html
  grid-layout-demo/src/main/webapp/main.jsx
  grid-layout-demo/src/main/webapp/styles.css
  grid-layout-demo/src/webpack/webpack-dev.config.js
  grid-layout-demo/src/webpack/webpack-prod.config.js
  grid-layout-demo/src/webpack/webpack.common.js
  grid-layout-demo/src/webpack/webpack.parts.js
  grid-layout-demo/yarn.lock
  grid-layout/package.json
  package.json
Due: none

Update lockfile
  yarn.lock
Due: none

Update mergify
  .mergify.yml
Due: none

Setup vite
  build.sbt
  grid-layout-demo/src/webpack/webpack-dev.config.js
  grid-layout-demo/src/webpack/webpack-prod.config.js
  grid-layout-demo/src/webpack/webpack.common.js
  grid-layout-demo/src/webpack/webpack.parts.js
  grid-layout-demo/vite.config.js
  grid-layout-demo/yarn.lock
  package.json
  test/yarn.lock
  yarn.lock
Due: Label test PRs

Update root aggregate
  build.sbt
Due: none

Add new projects to root
  build.sbt
Due: none

Lockfiles
  grid-layout/yarn.lock
  test/yarn.lock
Due: Label test PRs

Fix test
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
Due: none

Disable tests for demo
  build.sbt
Due: none

Update react-grid-layout
  grid-layout/yarn.lock
  package.json
  test/yarn.lock
  yarn.lock
Due: Label test PRs

Auto-generate vite config for demos
  .scala-steward.conf
  build.sbt
  grid-layout-demo/vite.config.js
Due: none

Trailing /
  build.sbt
  grid-layout-demo/vite.config.js
Due: none

WIP importing react-draggable
  build.sbt
  draggable-demo/src/main/resources/app.js
  draggable-demo/src/main/resources/dev.js
  draggable-demo/src/main/resources/styles.css
  draggable-demo/src/main/scala/react/draggable/demo/Data.scala
  draggable-demo/src/main/scala/react/draggable/demo/Demo.scala
  draggable-demo/vite.config.js
  draggable-demo/yarn.lock
  draggable/src/main/scala/react/draggable/Draggable.scala
  draggable/src/main/scala/react/draggable/package.scala
  draggable/src/test/scala/react/draggable/DraggableTests.scala
  draggable/src/webpack/test.webpack.config.js
  draggable/yarn.lock
  package.json
  yarn.lock
Due: none

Bump to 3.1.2-RC2
  build.sbt
Due: none

Add draggable to root
  build.sbt
  grid-layout/yarn.lock
  test/yarn.lock
Due: Label test PRs

Remove draggable demo
  .mergify.yml
  build.sbt
  draggable-demo/src/main/resources/app.js
  draggable-demo/src/main/resources/dev.js
  draggable-demo/src/main/resources/styles.css
  draggable-demo/src/main/scala/react/draggable/demo/Data.scala
  draggable-demo/src/main/scala/react/draggable/demo/Demo.scala
  draggable-demo/vite.config.js
  draggable-demo/yarn.lock
Due: none

Import clipboard
  .mergify.yml
  build.sbt
  clipboard/src/main/scala/react/clipboard/CopyToClipboard.scala
  clipboard/src/main/scala/react/clipboard/package.scala
  clipboard/src/test/scala/react/clipboard/CopyToClipboardSuite.scala
  clipboard/src/webpack/test.webpack.config.js
  clipboard/yarn.lock
  grid-layout/yarn.lock
  package.json
  test/yarn.lock
  yarn.lock
Due: Label test PRs

Import svgdotjs
  .mergify.yml
  build.sbt
  project/plugins.sbt
  svgdotjs/package.json
  svgdotjs/src/main/scala/lucuma/svgdotjs/package.scala
  svgdotjs/yarn.lock
Due: none

Import virtuoso
  build.sbt
  draggable/yarn.lock
  grid-layout/yarn.lock
  package.json
  svgdotjs/yarn.lock
  test/yarn.lock
  virtuoso-demo/src/main/scala/react/table/demo/Demo.scala
  virtuoso-demo/src/main/webapp/index.html
  virtuoso-demo/src/main/webapp/main.jsx
  virtuoso-demo/src/main/webapp/styles.css
  virtuoso-demo/vite.config.js
  virtuoso/src/main/scala/react/virtuoso/GroupedVirtuoso.scala
  virtuoso/src/main/scala/react/virtuoso/Virtuoso.scala
  virtuoso/src/main/scala/react/virtuoso/enums.scala
  virtuoso/src/main/scala/react/virtuoso/interfaces.scala
  virtuoso/src/main/scala/react/virtuoso/package.scala
  virtuoso/yarn.lock
  yarn.lock
Due: Label test PRs

Regenerate mergify
  .mergify.yml
Due: none

Add webpack config
  virtuoso/src/webpack/test.webpack.config.js
Due: none

Path conditions:
  Label cats PRs: any of: ^cats/
  Label common PRs: any of: ^common/
  Label test PRs: any of: ^test/
