Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label circular-progressbar PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label floatingui PRs, Label font-awesome PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label hotkeys PRs, Label hotkeys-demo PRs, Label markdown PRs, Label moon PRs, Label prime-react PRs, Label prime-react-demo PRs, Label resizable PRs, Label resizable-demo PRs, Label resize-detector PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootFloatingui PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootHotkeys PRs, Label rootPrimeReact PRs, Label rootResizable PRs, Label rootTanstackTable PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs, Label test PRs

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label circular-progressbar PRs: any of: ^circular-progressbar/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label floatingui PRs: any of: ^floatingui/
  Label font-awesome PRs: any of: ^font-awesome/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label hotkeys PRs: any of: ^hotkeys/
  Label hotkeys-demo PRs: any of: ^hotkeys-demo/
  Label markdown PRs: any of: ^markdown/
  Label moon PRs: any of: ^moon/
  Label prime-react PRs: any of: ^prime-react/
  Label prime-react-demo PRs: any of: ^prime-react-demo/
  Label resizable PRs: any of: ^resizable/
  Label resizable-demo PRs: any of: ^resizable-demo/
  Label resize-detector PRs: any of: ^resize-detector/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootFloatingui PRs: any of: ^rootFloatingui/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootHotkeys PRs: any of: ^rootHotkeys/
  Label rootPrimeReact PRs: any of: ^rootPrimeReact/
  Label rootResizable PRs: any of: ^rootResizable/
  Label rootTanstackTable PRs: any of: ^rootTanstackTable/
  Label tanstack-table PRs: any of: ^tanstack-table/
  Label tanstack-table-demo PRs: any of: ^tanstack-table-demo/
  Label test PRs: any of: ^test/

Use the correct facade types
  prime-react/src/main/scala/lucuma/react/primereact/Toast.scala
Due: Label prime-react PRs

Use the same interface for AppendTo on Tooltip and Toast
  prime-react/src/main/scala/lucuma/react/primereact/Toast.scala
  prime-react/src/main/scala/lucuma/react/primereact/Tooltip.scala
  prime-react/src/main/scala/lucuma/react/primereact/TooltipOptions.scala
  prime-react/src/main/scala/lucuma/react/primereact/package.scala
  prime-react/src/main/scala/lucuma/react/primereact/tooltip/package.scala
Due: Label prime-react PRs

Update signature
  prime-react/src/main/scala/lucuma/react/primereact/Toast.scala
Due: Label prime-react PRs

lib-updates
  build.sbt
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/model.scala
Due: Label tanstack-table-demo PRs

Update scalajs-react
  build.sbt
  draggable/src/test/scala/react/draggable/DraggableTests.scala
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/model.scala
  test/src/test/scala/react/common/ReactFnPropsSuite.scala
  test/src/test/scala/react/common/ReactFnPropsWithChildrenSuite.scala
  test/src/test/scala/react/common/ReactPropsForwardRefSuite.scala
  test/src/test/scala/react/common/ReactPropsForwardRefWithChildrenSuite.scala
  test/src/test/scala/react/common/ReactPropsSuite.scala
  test/src/test/scala/react/common/ReactPropsWithChildrenSuite.scala
Due: Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label tanstack-table-demo PRs, Label test PRs

Cleanup
  beautiful-dnd-demo/src/main/scala/lucuma/react/beautifuldnd/demo/BeautifulDnDDemo.scala
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/model.scala
Due: Label beautiful-dnd-demo PRs, Label highcharts PRs, Label tanstack-table-demo PRs

add some missing properties
  README.md
  beautiful-dnd-demo/vite.config.js
  datepicker-demo/vite.config.js
  font-awesome-demo/vite.config.js
  grid-layout-demo/vite.config.js
  highcharts-demo/vite.config.js
  hotkeys-demo/vite.config.js
  package-lock.json
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoControlsPanel.scala
  prime-react-demo/vite.config.js
  prime-react/src/main/scala/lucuma/react/primereact/Button.scala
  prime-react/src/main/scala/lucuma/react/primereact/PrimeStyles.scala
  prime-react/src/main/scala/lucuma/react/primereact/ToggleButton.scala
  resizable-demo/vite.config.js
  resize-detector-demo/vite.config.js
  tanstack-table-demo/vite.config.js
Due: Label beautiful-dnd-demo PRs, Label datepicker-demo PRs, Label grid-layout-demo PRs, Label highcharts-demo PRs, Label hotkeys-demo PRs, Label prime-react PRs, Label prime-react-demo PRs, Label resizable-demo PRs, Label tanstack-table-demo PRs

bump version
  build.sbt
Due: none

Add FieldSet from primereact
  prime-react/src/main/scala/lucuma/react/primereact/FieldSet.scala
Due: Label prime-react PRs

add clazz to InputNumber
  prime-react/src/main/scala/lucuma/react/primereact/InputNumber.scala
Due: Label prime-react PRs

bump base version
  build.sbt
Due: none

pragmatic-drag-and-drop facade
  README.md
  build.sbt
  package-lock.json
  package.json
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Demo.scala
  pragmatic-dnd-demo/src/main/webapp/index.html
  pragmatic-dnd-demo/src/main/webapp/main.jsx
  pragmatic-dnd-demo/src/main/webapp/styles.css
  pragmatic-dnd-demo/vite.config.js
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/Draggable.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableWithHandle.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DropTarget.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/ElementAdapter.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/extensions.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/BaseEventPayload.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/CommonEvents.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DragLocation.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DragLocationHistory.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DraggableArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DraggableGetFeedbackArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargetArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargetEvents.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargetGetFeedbackArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargetLocalizedData.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargetRecord.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargets.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/ElementAdapterRaw.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/ElementDragPayload.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/Input.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/MonitorArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/MonitorGetFeedbackArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/syntax.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/hooks.scala
Due: none

better demo
  build.sbt
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Demo.scala
Due: none

regenerate workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

pragmatic contextualization
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Demo.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/Draggable.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableWithHandle.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DropTarget.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/context.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/extensions.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/BaseEventPayload.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DragLocation.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DragLocationHistory.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargetEvents.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargetGetFeedbackArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargetRecord.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargets.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/ElementDragPayload.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/MonitorGetFeedbackArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/hooks.scala
Due: none

pragmatic fixes
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Demo.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/context.scala
Due: none

more table rendering control with row context
  build.sbt
  datepicker/src/main/scala/lucuma/react/datepicker/Datepicker.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label datepicker PRs, Label tanstack-table PRs

adjustments to pragmatic-dnd facade
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Demo.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/Draggable.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableDropTarget.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableDropTargetWithHandle.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableWithHandle.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DropTarget.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/ElementAdapter.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/context.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/extensions.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DraggableArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargetArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/MonitorArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/hooks.scala
Due: none

remove unused code
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
Due: Label tanstack-table PRs

add utility functions for new rowMod and cellMod in tables
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
Due: Label tanstack-table PRs

checkpoint
  build.sbt
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Demo.scala
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Table1.scala
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/model.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label tanstack-table PRs

full demo
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Demo.scala
Due: none

simplify interface
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Table1.scala
Due: none

draggableDropTarget
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Table1.scala
  pragmatic-dnd-demo/src/main/webapp/styles.css
Due: none

checkpoint
  package.json
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/hitbox/package.scala
Due: none

checkpoint
  beautiful-dnd-demo/vite.config.js
  datepicker-demo/vite.config.js
  font-awesome-demo/vite.config.js
  grid-layout-demo/vite.config.js
  highcharts-demo/vite.config.js
  hotkeys-demo/vite.config.js
  package-lock.json
  package.json
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Demo.scala
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Table1.scala
  pragmatic-dnd-demo/vite.config.js
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/Draggable.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableDropTarget.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableDropTargetWithHandle.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableWithHandle.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DropTarget.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/ElementAdapter.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/context.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/extensions.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/Data.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DraggableArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargetArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargetRecord.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/ElementDragPayload.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/hitbox/package.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/hooks.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/package.scala
  prime-react-demo/vite.config.js
  resizable-demo/vite.config.js
  resize-detector-demo/vite.config.js
  tanstack-table-demo/vite.config.js
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label beautiful-dnd-demo PRs, Label datepicker-demo PRs, Label grid-layout-demo PRs, Label highcharts-demo PRs, Label hotkeys-demo PRs, Label prime-react-demo PRs, Label resizable-demo PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs

nice demo
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Demo.scala
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Table1.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/context.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/hitbox/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label tanstack-table PRs

checkpoint
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Table1.scala
Due: none

dndtable hook
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Table1.scala
Due: none

improvement
  pragmatic-dnd-demo/src/main/scala/lucuma/react/pragmaticdnd/demo/Table1.scala
Due: none

simplify pragmatic data api, add hitbox facade
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/Draggable.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableDropTarget.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableDropTargetWithHandle.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableWithHandle.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DropTarget.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/ElementAdapter.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/context.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/exports.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/extensions.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/Data.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DraggableArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargetArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/DropTargetRecord.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/ElementDragPayload.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/hitbox.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/hooks.scala
Due: none

autoscroll for pragmatic dnd
  build.sbt
  package.json
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/exports.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/autoScroll.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/hitbox.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs

convert table renderers to monadic hooks
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/autoScroll.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs

update scala version
  beautiful-dnd-demo/vite.config.js
  datepicker-demo/vite.config.js
  font-awesome-demo/vite.config.js
  grid-layout-demo/vite.config.js
  highcharts-demo/vite.config.js
  hotkeys-demo/vite.config.js
  package-lock.json
  pragmatic-dnd-demo/vite.config.js
  prime-react-demo/vite.config.js
  resizable-demo/vite.config.js
  resize-detector-demo/vite.config.js
  tanstack-table-demo/vite.config.js
Due: Label beautiful-dnd-demo PRs, Label datepicker-demo PRs, Label grid-layout-demo PRs, Label highcharts-demo PRs, Label hotkeys-demo PRs, Label prime-react-demo PRs, Label resizable-demo PRs, Label tanstack-table-demo PRs

relocate some members
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/extensions.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/autoScroll.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/hooks.scala
Due: none

allow passing existing ref to dnd autoscroll
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/hooks.scala
Due: none
