Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label cats PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootSemanticUI PRs, Label rootTable PRs, Label rootTree PRs, Label rootVirtuoso PRs, Label semantic-ui PRs, Label semantic-ui-demo PRs, Label table PRs, Label table-demo PRs, Label test PRs, Label tree PRs, Label tree-demo PRs, Label virtuoso PRs, Label virtuoso-demo PRs

Label beautiful-dnd PRs:
  label:
    add:
    - beautiful-dnd
    remove: []

Label beautiful-dnd-demo PRs:
  label:
    add:
    - beautiful-dnd-demo
    remove: []

Label cats PRs:
  label:
    add:
    - cats
    remove: []

Label clipboard PRs:
  label:
    add:
    - clipboard
    remove: []

Label common PRs:
  label:
    add:
    - common
    remove: []

Label datepicker PRs:
  label:
    add:
    - datepicker
    remove: []

Label datepicker-demo PRs:
  label:
    add:
    - datepicker-demo
    remove: []

Label draggable PRs:
  label:
    add:
    - draggable
    remove: []

Label grid-layout PRs:
  label:
    add:
    - grid-layout
    remove: []

Label grid-layout-demo PRs:
  label:
    add:
    - grid-layout-demo
    remove: []

Label highcharts PRs:
  label:
    add:
    - highcharts
    remove: []

Label highcharts-demo PRs:
  label:
    add:
    - highcharts-demo
    remove: []

Label rootBeautifulDnd PRs:
  label:
    add:
    - rootBeautifulDnd
    remove: []

Label rootClipboard PRs:
  label:
    add:
    - rootClipboard
    remove: []

Label rootCore PRs:
  label:
    add:
    - rootCore
    remove: []

Label rootDatepicker PRs:
  label:
    add:
    - rootDatepicker
    remove: []

Label rootDraggable PRs:
  label:
    add:
    - rootDraggable
    remove: []

Label rootGridLayout PRs:
  label:
    add:
    - rootGridLayout
    remove: []

Label rootHighcharts PRs:
  label:
    add:
    - rootHighcharts
    remove: []

Label rootSemanticUI PRs:
  label:
    add:
    - rootSemanticUI
    remove: []

Label rootTable PRs:
  label:
    add:
    - rootTable
    remove: []

Label rootTree PRs:
  label:
    add:
    - rootTree
    remove: []

Label rootVirtuoso PRs:
  label:
    add:
    - rootVirtuoso
    remove: []

Label semantic-ui PRs:
  label:
    add:
    - semantic-ui
    remove: []

Label semantic-ui-demo PRs:
  label:
    add:
    - semantic-ui-demo
    remove: []

Label table PRs:
  label:
    add:
    - table
    remove: []

Label table-demo PRs:
  label:
    add:
    - table-demo
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

Label tree PRs:
  label:
    add:
    - tree
    remove: []

Label tree-demo PRs:
  label:
    add:
    - tree-demo
    remove: []

Label virtuoso PRs:
  label:
    add:
    - virtuoso
    remove: []

Label virtuoso-demo PRs:
  label:
    add:
    - virtuoso-demo
    remove: []

Remove unneeded imports
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuItemSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuMenuSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/container/ContainerSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/divider/DividerSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/flag/FlagSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/header/HeaderContentSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/header/HeaderSubheaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/header/HeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/image/ImageSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListContentSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListDescriptionSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListItemSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListListSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/loader/LoaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/placeholder/PlaceholderSuite.scala
Due: Label semantic-ui PRs

Restore datepicker facade
  datepicker-demo/src/main/webapp/main.jsx
  datepicker/src/main/scala/react/datepicker/Datepicker.scala
  flake.lock
  semantic-ui/src/main/scala/react/semanticui/modules/dropdown/DropdownMenu.scala
  yarn.lock
Due: Label datepicker PRs, Label datepicker-demo PRs, Label semantic-ui PRs

Reformat
  datepicker/src/main/scala/react/datepicker/Datepicker.scala
Due: Label datepicker PRs

Add prime-react
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  prime-react/package.json
  prime-react/yarn.lock
Due: none

Add some contribution instructions [ci skip]
  README.md
Due: none

Clarifying instructions [ci skip]
  README.md
Due: none

More README corrections [ci skip]
  README.md
Due: none

Configure mergify for dependabot PRs
  .mergify.yml
  build.sbt
Due: none

Setup prime-react demo
  .github/workflows/ci.yml
  .mergify.yml
  beautiful-dnd/yarn.lock
  build.sbt
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  hotkeys/yarn.lock
  package.json
  prime-react-demo/vite.config.js
  resizable/yarn.lock
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Restore closeOnEscape
  semantic-ui/src/main/scala/react/semanticui/modules/modal/Modal.scala
Due: Label semantic-ui PRs

Merge common and cats modules
  .mergify.yml
  build.sbt
  cats/src/main/scala/react/common/implicits/package.scala
  common/src/main/scala/react/common/implicits/package.scala
  common/src/main/scala/react/common/size.scala
  common/src/main/scala/react/common/style/package.scala
  common/src/test/scala/react/common/arb/ArbSize.scala
  common/src/test/scala/react/common/arb/ArbStyle.scala
  common/src/test/scala/react/common/arb/package.scala
  common/src/test/scala/react/common/implicits/ReactCatsSuite.scala
  test/src/test/scala/react/common/CommonSuite.scala
Due: Label cats PRs, Label common PRs, Label test PRs

Sync FA changes
  font-awesome/src/main/scala/react/fa/FontAwesomeIcon.scala
  font-awesome/src/main/scala/react/fa/package.scala
Due: none

Use ESM primereact sources in JSImports
  build.sbt
Due: none

Adjust tlBaseVersion
  build.sbt
Due: none

Only rewrite ST primereact srcs if needed
  build.sbt
Due: none

Add CircularProgressbar
  .github/workflows/ci.yml
  .mergify.yml
  beautiful-dnd/yarn.lock
  build.sbt
  circular-progressbar/src/main/scala/react/circularprogressbar/CircularProgressbar.scala
  circular-progressbar/src/test/scala/react/circularprogressbar/CircularProgressbarSuite.scala
  circular-progressbar/src/webpack/test.webpack.config.js
  circular-progressbar/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  prime-react/yarn.lock
  resizable/yarn.lock
  semantic-ui/yarn.lock
  table/yarn.lock
  test/src/main/scala/react/common/TestUtils.scala
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

set version introduced
  build.sbt
Due: none

Fix the regex in the prime-react/stImport rewrite
  build.sbt
Due: none

Add react-moon
  .github/workflows/ci.yml
  .mergify.yml
  beautiful-dnd/yarn.lock
  build.sbt
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  hotkeys/yarn.lock
  moon/src/main/scala/react/moon/MoonPhase.scala
  moon/src/test/scala/react/moon/MoonPhaseSuite.scala
  moon/src/webpack/test.webpack.config.js
  moon/yarn.lock
  package.json
  prime-react/yarn.lock
  resizable/yarn.lock
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Ignore scala-xml conflicts ...
  project/plugins.sbt
Due: none

Add toastify, but in module hell
  build.sbt
  package.json
  toastify/src/main/scala/react/toastify.scala
  toastify/src/test/scala/react/toastify/ToastifySuite.scala
  toastify/src/webpack/test.webpack.config.js
  toastify/yarn.lock
  yarn.lock
Due: none

Add beatFade to font awesome
  font-awesome/src/main/scala/react/fa/FontAwesomeIcon.scala
  font-awesome/src/main/scala/react/fa/package.scala
Due: none

Update lib base version
  build.sbt
Due: none

Convert enum syntax
  common/src/main/scala/react/common/enumValue.scala
  common/src/main/scala/react/common/syntax/package.scala
  font-awesome/src/main/scala/react/fa/FontAwesomeIcon.scala
  resizable/src/main/scala/react/resizable/Resizable.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/elements/IconsComponent.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormGroup.scala
  semantic-ui/src/main/scala/react/semanticui/collections/grid/GridRow.scala
  semantic-ui/src/main/scala/react/semanticui/modules/popup/Popup.scala
Due: Label common PRs, Label semantic-ui PRs, Label semantic-ui-demo PRs

Remove unused syntax
  common/src/main/scala/react/common/syntax/package.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/elements/IconsComponent.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormGroup.scala
  semantic-ui/src/main/scala/react/semanticui/collections/grid/GridRow.scala
  semantic-ui/src/main/scala/react/semanticui/modules/popup/Popup.scala
Due: Label common PRs, Label semantic-ui PRs, Label semantic-ui-demo PRs

Bump base version
  build.sbt
Due: none

Destroy Chart on unmount
  highcharts/src/main/scala/react/highcharts/Chart.scala
  highcharts/src/main/scala/react/highcharts/accessibility.scala
  highcharts/src/main/scala/react/highcharts/mods/seriesLabel/seriesLabel.scala
Due: Label highcharts PRs

update test
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
Due: Label highcharts PRs

Make highcharts test robust to updates
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
Due: Label highcharts PRs

formating
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
Due: Label highcharts PRs

Resizing chart
  build.sbt
  datepicker/yarn.lock
  highcharts/src/main/scala/react/highcharts/ResizingChart.scala
  prime-react/yarn.lock
  table/yarn.lock
Due: Label datepicker PRs, Label highcharts PRs, Label table PRs

Reformat
  highcharts/src/main/scala/react/highcharts/ResizingChart.scala
Due: Label highcharts PRs

Update README to ensure node is run
  README.md
Due: none

Update README.md
  README.md
Due: none

Move floatingui from Explore
  .github/workflows/ci.yml
  .mergify.yml
  beautiful-dnd/yarn.lock
  build.sbt
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  floatingui/Tooltip.scala
  floatingui/hooks.scala
  floatingui/package.scala
  floatingui/syntax.scala
  floatingui/yarn.lock
  highcharts/yarn.lock
  hotkeys/yarn.lock
  moon/yarn.lock
  package.json
  prime-react/yarn.lock
  resizable/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label highcharts PRs, Label test PRs, Label tree PRs

Update primereact version in primereact project
  prime-react/package.json
Due: none

Fix test error
  floatingui/src/main/react/floatingui/Tooltip.scala
  floatingui/src/main/react/floatingui/hooks.scala
  floatingui/src/main/react/floatingui/package.scala
  floatingui/src/main/react/floatingui/syntax.scala
  floatingui/src/webpack/test.webpack.config.js
Due: none

Add tlVersionIntroduced
  build.sbt
Due: none

add a test
  build.sbt
  floatingui/src/main/scala/react/floatingui/Tooltip.scala
  floatingui/src/main/scala/react/floatingui/hooks.scala
  floatingui/src/main/scala/react/floatingui/package.scala
  floatingui/src/main/scala/react/floatingui/syntax.scala
  floatingui/src/test/scala/react/floatingui/TooltipSuite.scala
Due: none

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label cats PRs: any of: ^cats/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootSemanticUI PRs: any of: ^rootSemanticUI/
  Label rootTable PRs: any of: ^rootTable/
  Label rootTree PRs: any of: ^rootTree/
  Label rootVirtuoso PRs: any of: ^rootVirtuoso/
  Label semantic-ui PRs: any of: ^semantic-ui/
  Label semantic-ui-demo PRs: any of: ^semantic-ui-demo/
  Label table PRs: any of: ^table/
  Label table-demo PRs: any of: ^table-demo/
  Label test PRs: any of: ^test/
  Label tree PRs: any of: ^tree/
  Label tree-demo PRs: any of: ^tree-demo/
  Label virtuoso PRs: any of: ^virtuoso/
  Label virtuoso-demo PRs: any of: ^virtuoso-demo/
