Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label circular-progressbar PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label floatingui PRs, Label font-awesome PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label hotkeys PRs, Label hotkeys-demo PRs, Label markdown PRs, Label moon PRs, Label prime-react PRs, Label prime-react-demo PRs, Label resizable PRs, Label resizable-demo PRs, Label resize-detector PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootFloatingui PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootHotkeys PRs, Label rootPrimeReact PRs, Label rootResizable PRs, Label rootTanstackTable PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs, Label test PRs

Label beautiful-dnd PRs:
  label:
    add:
    - beautiful-dnd
    remove: []

Label beautiful-dnd-demo PRs:
  label:
    add:
    - beautiful-dnd-demo
    remove: []

Label circular-progressbar PRs:
  label:
    add:
    - circular-progressbar
    remove: []

Label clipboard PRs:
  label:
    add:
    - clipboard
    remove: []

Label common PRs:
  label:
    add:
    - common
    remove: []

Label datepicker PRs:
  label:
    add:
    - datepicker
    remove: []

Label datepicker-demo PRs:
  label:
    add:
    - datepicker-demo
    remove: []

Label draggable PRs:
  label:
    add:
    - draggable
    remove: []

Label floatingui PRs:
  label:
    add:
    - floatingui
    remove: []

Label font-awesome PRs:
  label:
    add:
    - font-awesome
    remove: []

Label grid-layout PRs:
  label:
    add:
    - grid-layout
    remove: []

Label grid-layout-demo PRs:
  label:
    add:
    - grid-layout-demo
    remove: []

Label highcharts PRs:
  label:
    add:
    - highcharts
    remove: []

Label highcharts-demo PRs:
  label:
    add:
    - highcharts-demo
    remove: []

Label hotkeys PRs:
  label:
    add:
    - hotkeys
    remove: []

Label hotkeys-demo PRs:
  label:
    add:
    - hotkeys-demo
    remove: []

Label markdown PRs:
  label:
    add:
    - markdown
    remove: []

Label moon PRs:
  label:
    add:
    - moon
    remove: []

Label prime-react PRs:
  label:
    add:
    - prime-react
    remove: []

Label prime-react-demo PRs:
  label:
    add:
    - prime-react-demo
    remove: []

Label resizable PRs:
  label:
    add:
    - resizable
    remove: []

Label resizable-demo PRs:
  label:
    add:
    - resizable-demo
    remove: []

Label resize-detector PRs:
  label:
    add:
    - resize-detector
    remove: []

Label rootBeautifulDnd PRs:
  label:
    add:
    - rootBeautifulDnd
    remove: []

Label rootClipboard PRs:
  label:
    add:
    - rootClipboard
    remove: []

Label rootCore PRs:
  label:
    add:
    - rootCore
    remove: []

Label rootDatepicker PRs:
  label:
    add:
    - rootDatepicker
    remove: []

Label rootDraggable PRs:
  label:
    add:
    - rootDraggable
    remove: []

Label rootFloatingui PRs:
  label:
    add:
    - rootFloatingui
    remove: []

Label rootGridLayout PRs:
  label:
    add:
    - rootGridLayout
    remove: []

Label rootHighcharts PRs:
  label:
    add:
    - rootHighcharts
    remove: []

Label rootHotkeys PRs:
  label:
    add:
    - rootHotkeys
    remove: []

Label rootPrimeReact PRs:
  label:
    add:
    - rootPrimeReact
    remove: []

Label rootResizable PRs:
  label:
    add:
    - rootResizable
    remove: []

Label rootTanstackTable PRs:
  label:
    add:
    - rootTanstackTable
    remove: []

Label tanstack-table PRs:
  label:
    add:
    - tanstack-table
    remove: []

Label tanstack-table-demo PRs:
  label:
    add:
    - tanstack-table-demo
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

avoid computing unnecessary models
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table1.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

add global filtering, type propagation and doc
  tanstack-table/src/main/scala/lucuma/react/table/BuiltInFilter.scala
  tanstack-table/src/main/scala/lucuma/react/table/Cell.scala
  tanstack-table/src/main/scala/lucuma/react/table/CellContext.scala
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/FilterFn.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/Header.scala
  tanstack-table/src/main/scala/lucuma/react/table/HeaderContext.scala
  tanstack-table/src/main/scala/lucuma/react/table/HeaderGroup.scala
  tanstack-table/src/main/scala/lucuma/react/table/HooksApiExt.scala
  tanstack-table/src/main/scala/lucuma/react/table/Row.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowModel.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinningEnabled.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label tanstack-table PRs

global filtering complete, missing demo
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
Due: Label tanstack-table PRs

global filters in constructors
  tanstack-table/src/main/scala/lucuma/react/SizePx.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
Due: Label tanstack-table PRs

adjustments to facade
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table1.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

filter state, demo
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table1.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableState.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

remove commented code
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
Due: Label tanstack-table PRs

fix type
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
Due: Label tanstack-table PRs

revert optional types in TableOptions
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
Due: Label tanstack-table PRs

with* and without* helpers in TableOptions
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
Due: Label tanstack-table PRs

fix type aliases, demo
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table1.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

with and without helers in ColumnDef
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
Due: Label tanstack-table PRs

fix autoResizing
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
Due: Label tanstack-table PRs

fix column sorting default
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
Due: Label tanstack-table PRs

bump base version
  build.sbt
Due: none

fix deduction of sorting enable
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table3.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

faceted facade
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
Due: Label tanstack-table PRs

column faceting complete
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table1.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

global faceting
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
Due: Label tanstack-table PRs

facades for some primereact hooks
  prime-react-demo/src/main/scala/lucuma/react/table/demo/Demo.scala
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoComponents.scala
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoHooks.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/UseStorage.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/useDebounce.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/useInterval.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/useLocalStorage.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/useSessionStorage.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/useTimeout.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

allow meta retyping
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
Due: Label tanstack-table PRs

add headless content to modals
  prime-react/src/main/scala/lucuma/react/primereact/Dialog.scala
  prime-react/src/main/scala/lucuma/react/primereact/Sidebar.scala
Due: Label prime-react PRs

Scala 3.7
  beautiful-dnd-demo/src/main/scala/lucuma/react/beautifuldnd/demo/BeautifulDnDDemo.scala
  beautiful-dnd/src/main/scala/lucuma/react/beautifuldnd/Draggable.scala
  beautiful-dnd/src/main/scala/lucuma/react/beautifuldnd/Droppable.scala
  build.sbt
  floatingui/src/main/scala/lucuma/react/floatingui/package.scala
  floatingui/src/main/scala/lucuma/react/floatingui/syntax.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/package.scala
  hotkeys-demo/src/main/scala/lucuma/react/hotkeys/demo/DemoMain.scala
  hotkeys-hooks/src/main/scala/lucuma/react/hotkeys/package.scala
  prime-react-demo/src/main/scala/lucuma/react/table/demo/TreeDemo.scala
  prime-react/src/main/scala/lucuma/react/primereact/Checkbox.scala
  prime-react/src/main/scala/lucuma/react/primereact/ConfirmDialog.scala
  prime-react/src/main/scala/lucuma/react/primereact/DropdownBase.scala
  prime-react/src/main/scala/lucuma/react/primereact/MenuItem.scala
  prime-react/src/main/scala/lucuma/react/primereact/MessageItem.scala
  prime-react/src/main/scala/lucuma/react/primereact/MultiSelect.scala
  prime-react/src/main/scala/lucuma/react/primereact/SelectItem.scala
  prime-react/src/main/scala/lucuma/react/primereact/SplitterPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/ToggleButton.scala
  prime-react/src/main/scala/lucuma/react/primereact/Tooltip.scala
  prime-react/src/main/scala/lucuma/react/primereact/primereact.scala
  project/plugins.sbt
  resize-detector-demo/src/main/scala/lucuma/react/resizeDetector/demo/HookDemo.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/package.scala
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/model.scala
  tanstack-table/src/main/scala/lucuma/react/SizePx.scala
  tanstack-table/src/main/scala/lucuma/react/syntax/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/BuiltInFilter.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/FilterFn.scala
  tanstack-table/src/main/scala/lucuma/react/table/PartialTableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/Row.scala
  test/src/test/scala/react/common/ReactPropsForwardRefSuite.scala
  test/src/test/scala/react/common/ReactPropsForwardRefWithChildrenSuite.scala
Due: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label floatingui PRs, Label grid-layout PRs, Label hotkeys-demo PRs, Label prime-react PRs, Label prime-react-demo PRs, Label resize-detector PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs, Label test PRs

Add convenience for TooltipOptions.showOnDisabled
  prime-react/src/main/scala/lucuma/react/primereact/TooltipOptions.scala
Due: Label prime-react PRs

Create manual facade for react-datepicker, update lucuma-typed
  build.sbt
  datepicker-demo/src/main/scala/lucuma/react/datepicker/demo/Demo.scala
  datepicker/src/main/scala/lucuma/react/datepicker/Datepicker.scala
  datepicker/src/main/scala/lucuma/react/datepicker/hooks/UseDatepickerRef.scala
  datepicker/src/main/scala/lucuma/react/datepicker/package.scala
  project/plugins.sbt
Due: Label datepicker PRs, Label datepicker-demo PRs

Restrict range of DatePicker dates
  datepicker/src/main/scala/lucuma/react/datepicker/Datepicker.scala
  datepicker/src/main/scala/lucuma/react/datepicker/package.scala
Due: Label datepicker PRs

Add primereact SplitButton facade
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoComponents.scala
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/SplitButton.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Update test usage
  draggable/src/test/scala/react/draggable/DraggableTests.scala
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
Due: Label draggable PRs, Label grid-layout PRs, Label highcharts PRs

implement PrimeReactProvider facade
  prime-react/src/main/scala/lucuma/react/primereact/PrimeReactProvider.scala
  prime-react/src/main/scala/lucuma/react/primereact/primereact.scala
Due: Label prime-react PRs

Change/add ids for some components
  build.sbt
  datepicker/src/main/scala/lucuma/react/datepicker/Datepicker.scala
  prime-react/src/main/scala/lucuma/react/primereact/DropdownBase.scala
  prime-react/src/main/scala/lucuma/react/primereact/RadioButton.scala
Due: Label datepicker PRs, Label prime-react PRs

implement checkbox variant property
  prime-react/src/main/scala/lucuma/react/primereact/Checkbox.scala
Due: Label prime-react PRs

migrate highcharts
  build.sbt
  highcharts-demo/src/main/scala/lucuma/react/highcharts/demo/Demo.scala
  highcharts/src/main/scala/lucuma/react/highcharts/Chart.scala
  highcharts/src/main/scala/lucuma/react/highcharts/mods/seriesLabel/SeriesLabelPoint.scala
  highcharts/src/main/scala/lucuma/react/highcharts/mods/seriesLabel/SeriesLabelSeries.scala
  highcharts/src/main/scala/lucuma/react/highcharts/mods/seriesLabel/seriesLabel.scala
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
  package-lock.json
  package.json
Due: Label highcharts PRs, Label highcharts-demo PRs

react-markdown upgrade
  build.sbt
  markdown/src/main/scala/lucuma/react/markdown/ReactMarkdown.scala
  package-lock.json
  package.json
Due: Label markdown PRs

Add appendTo to Toast
  prime-react/src/main/scala/lucuma/react/primereact/Toast.scala
Due: Label prime-react PRs

Update binary version
  build.sbt
Due: none

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label circular-progressbar PRs: any of: ^circular-progressbar/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label floatingui PRs: any of: ^floatingui/
  Label font-awesome PRs: any of: ^font-awesome/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label hotkeys PRs: any of: ^hotkeys/
  Label hotkeys-demo PRs: any of: ^hotkeys-demo/
  Label markdown PRs: any of: ^markdown/
  Label moon PRs: any of: ^moon/
  Label prime-react PRs: any of: ^prime-react/
  Label prime-react-demo PRs: any of: ^prime-react-demo/
  Label resizable PRs: any of: ^resizable/
  Label resizable-demo PRs: any of: ^resizable-demo/
  Label resize-detector PRs: any of: ^resize-detector/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootFloatingui PRs: any of: ^rootFloatingui/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootHotkeys PRs: any of: ^rootHotkeys/
  Label rootPrimeReact PRs: any of: ^rootPrimeReact/
  Label rootResizable PRs: any of: ^rootResizable/
  Label rootTanstackTable PRs: any of: ^rootTanstackTable/
  Label tanstack-table PRs: any of: ^tanstack-table/
  Label tanstack-table-demo PRs: any of: ^tanstack-table-demo/
  Label test PRs: any of: ^test/
