Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label cats PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootSvgdotjs PRs, Label rootTable PRs, Label rootTree PRs, Label rootVirtuoso PRs, Label svgdotjs PRs, Label table PRs, Label table-demo PRs, Label test PRs, Label tree PRs, Label tree-demo PRs, Label virtuoso PRs, Label virtuoso-demo PRs

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label cats PRs: any of: ^cats/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootSvgdotjs PRs: any of: ^rootSvgdotjs/
  Label rootTable PRs: any of: ^rootTable/
  Label rootTree PRs: any of: ^rootTree/
  Label rootVirtuoso PRs: any of: ^rootVirtuoso/
  Label svgdotjs PRs: any of: ^svgdotjs/
  Label table PRs: any of: ^table/
  Label table-demo PRs: any of: ^table-demo/
  Label test PRs: any of: ^test/
  Label tree PRs: any of: ^tree/
  Label tree-demo PRs: any of: ^tree-demo/
  Label virtuoso PRs: any of: ^virtuoso/
  Label virtuoso-demo PRs: any of: ^virtuoso-demo/

Use dotty syntax
  semantic-ui/src/main/scala/react/semanticui/collections/message/Message.scala
  semantic-ui/src/main/scala/react/semanticui/package.scala
Due: none

Add sui to ci
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Fix compile
  highcharts-demo/src/main/scala/react/highcharts/demo/Demo.scala
  highcharts/src/main/scala/react/highcharts/mods/seriesLabel/SeriesLabelPoint.scala
Due: Label highcharts PRs, Label highcharts-demo PRs

Fix a couple imports
  semantic-ui/src/main/scala/react/semanticui/addons/portal/Portal.scala
  semantic-ui/src/main/scala/react/semanticui/addons/portal/PortalInner.scala
Due: none

Fix some compile issues
  semantic-ui/src/main/scala/react/semanticui/MyUndefOr.scala
  semantic-ui/src/main/scala/react/semanticui/addons/confirm/Confirm.scala
  semantic-ui/src/main/scala/react/semanticui/package.scala
Due: none

Try fixing build
  semantic-ui/src/webpack/test.webpack.config.js
  semantic-ui/yarn.lock
Due: none

Remove svgdotjs
  .envrc
  .gitignore
  README.md
  build.sbt
  flake.lock
  flake.nix
  svgdotjs/package.json
  svgdotjs/src/main/scala/lucuma/svgdotjs/package.scala
  svgdotjs/yarn.lock
Due: Label svgdotjs PRs

Update workflow
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Try fixing foreachUnchecked with beta-reduce macro
  semantic-ui/src/main/scala/react/semanticui/addons/textarea/TextArea.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormTextArea.scala
  semantic-ui/src/main/scala/react/semanticui/foreachUnchecked.scala
Due: none

Get some tests compiling
  build.sbt
  semantic-ui/src/test/scala/react/semanticui/modules/accordion/AccordionContentSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/accordion/AccordionPanelSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/accordion/AccordionSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/accordion/AccordionTitleSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/checkbox/CheckboxSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/dimmer/DimmerDimmableSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/dimmer/DimmerInnerSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/dimmer/DimmerSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/dropdown/DropdownDividerSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/dropdown/DropdownHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/dropdown/DropdownItemSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/dropdown/DropdownMenuSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/dropdown/DropdownSearchInputSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/dropdown/DropdownSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/dropdown/DropdownTextSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/modal/ModalActionsSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/modal/ModalContentSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/modal/ModalDescriptionSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/modal/ModalDimmerSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/modal/ModalHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/modal/ModalSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/popup/PopupContentSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/popup/PopupHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/popup/PopupSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/progress/ProgressSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/sidebar/SidebarSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/tab/TabPaneSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/tab/TabSuite.scala
Due: none

More tests
  semantic-ui/src/test/scala/react/semanticui/views/card/CardContentSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/card/CardDescriptionSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/card/CardExtraSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/card/CardGroupSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/card/CardHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/card/CardMetaSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/card/CardSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/item/ItemContentSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/item/ItemDescriptionSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/item/ItemExtraSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/item/ItemGroupSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/item/ItemHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/item/ItemImageSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/item/ItemMetaSuite.scala
  semantic-ui/src/test/scala/react/semanticui/views/item/ItemSuite.scala
Due: none

button tests
  semantic-ui/src/test/scala/react/semanticui/elements/button/ButtonContentSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/button/ButtonGroupSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/button/ButtonOrSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/button/ButtonSuite.scala
Due: none

collections tests
  semantic-ui/src/ignore/scala/react/semanticui/collections/table/TableFooterSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormButtonSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormCheckboxSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormDropdownSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormFieldSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormGroupSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormInputSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormSelectSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormTextAreaSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/grid/GridColumnSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/grid/GridRowSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/grid/GridSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuItemSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuMenuSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/message/MessageSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableBodySuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableCellSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableFooterSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableGeneratorSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableHeaderCellSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableRowSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableSuite.scala
Due: none

addons tests
  semantic-ui/src/test/scala/react/semanticui/addons/confirm/ConfirmSuite.scala
  semantic-ui/src/test/scala/react/semanticui/addons/portal/PortalInnerSuite.scala
  semantic-ui/src/test/scala/react/semanticui/addons/portal/PortalSuite.scala
  semantic-ui/src/test/scala/react/semanticui/addons/radio/RadioSuite.scala
  semantic-ui/src/test/scala/react/semanticui/addons/select/SelectSuite.scala
  semantic-ui/src/test/scala/react/semanticui/addons/textarea/TextAreaSuite.scala
Due: none

scalafix+fmt
  semantic-ui/src/test/scala/react/semanticui/addons/portal/PortalSuite.scala
  semantic-ui/src/test/scala/react/semanticui/addons/select/SelectSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormButtonSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormCheckboxSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormDropdownSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormFieldSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormGroupSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormInputSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormSelectSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormTextAreaSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/grid/GridRowSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuItemSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableCellSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableFooterSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableHeaderCellSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableRowSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/table/TableSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/button/ButtonGroupSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/button/ButtonSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/container/ContainerSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/divider/DividerSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/icon/IconSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/image/ImageSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/input/InputSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/label/LabelGroupSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/label/LabelSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/loader/LoaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/rail/RailSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/segment/SegmentGroupSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/segment/SegmentInlineSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/segment/SegmentSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/accordion/AccordionTitleSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/checkbox/CheckboxSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/dropdown/DropdownItemSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/sidebar/SidebarSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/tab/TabPaneSuite.scala
  semantic-ui/src/test/scala/react/semanticui/modules/tab/TabSuite.scala
Due: none

update lockfiles
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

tests running
  build.sbt
Due: none

sui-demo compiling
  build.sbt
  common/src/main/scala/react/common/enumValue.scala
  common/src/main/scala/react/common/syntax/package.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/HomeComponent.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/Layout.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/SUIMain.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/WebpackResources.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/elements/IconsComponent.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/elements/LabelsComponent.scala
Due: Label common PRs

scalafix+fmt
  semantic-ui-demo/src/main/scala/react/semanticui/demo/Layout.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/SUIMain.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/elements/IconsComponent.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/elements/LabelsComponent.scala
Due: none

fixup the demo
  beautiful-dnd-demo/vite.config.js
  beautiful-dnd/yarn.lock
  build.sbt
  clipboard/yarn.lock
  datepicker-demo/vite.config.js
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout-demo/vite.config.js
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui-demo/src/main/webapp/images/avatar/small/ade.jpg
  semantic-ui-demo/src/main/webapp/images/favicon.ico
  semantic-ui-demo/src/main/webapp/images/logo.png
  semantic-ui-demo/src/main/webapp/index.html
  semantic-ui-demo/src/main/webapp/less/style.less
  semantic-ui-demo/src/main/webapp/main.jsx
  semantic-ui-demo/src/main/webapp/theme/semantic.less
  semantic-ui-demo/src/main/webapp/theme/site/globals/site.variables
  semantic-ui-demo/src/main/webapp/theme/theme.config
  semantic-ui-demo/vite.config.js
  semantic-ui/yarn.lock
  table-demo/vite.config.js
  table/yarn.lock
  test/yarn.lock
  tree-demo/vite.config.js
  tree/yarn.lock
  virtuoso-demo/vite.config.js
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label clipboard PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label table PRs, Label table-demo PRs, Label test PRs, Label tree PRs, Label tree-demo PRs, Label virtuoso PRs, Label virtuoso-demo PRs

Update README
  README.md
Due: none

Publish resize-detector
  .mergify.yml
  build.sbt
  resize-detector/src/main/scala/react/resizeDetector/ResizeDetector.scala
  resize-detector/src/main/scala/react/resizeDetector/hooks.scala
Due: none

Add font-awesome
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  font-awesome/src/main/scala/react/fa/FontAwesomeIcon.scala
  font-awesome/src/main/scala/react/fa/package.scala
Due: none

Cherry-pick https://github.com/gemini-hlsw/lucuma-ui/commit/c649a1f5f24cf43befd72efe4a41bb30f8576bac
  resize-detector/src/main/scala/react/resizeDetector/hooks.scala
Due: none

Update utest to 0.8.0
  build.sbt
Due: none

Update sbt-tpolecat to 0.3.3
  project/plugins.sbt
Due: none

Update sbt-scalajs, scalajs-compiler, ... to 1.10.1
  project/plugins.sbt
Due: none

Update scalafmt-core to 3.5.8
  .scalafmt.conf
Due: none

formatting
  grid-layout-demo/src/main/scala/react/gridlayout/Demo.scala
Due: Label grid-layout-demo PRs

Configure dependabot
  .github/dependabot.yml
Due: none

Update to jsdom 20.0.0
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/package.json
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/package.json
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Trying to fix....
  build.sbt
  datepicker/package.json
  highcharts/package.json
Due: Label datepicker PRs, Label highcharts PRs

Update to highcharts 10.2.0
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/package.json
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

update test
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
Due: Label highcharts PRs
