Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label circular-progressbar PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label font-awesome PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label hotkeys PRs, Label hotkeys-demo PRs, Label moon PRs, Label prime-react PRs, Label prime-react-demo PRs, Label resizable PRs, Label resizable-demo PRs, Label resize-detector PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootHotkeys PRs, Label rootPrimeReact PRs, Label rootResizable PRs, Label rootSemanticUI PRs, Label rootTable PRs, Label rootTanstackTable PRs, Label rootTree PRs, Label rootVirtuoso PRs, Label semantic-ui PRs, Label semantic-ui-demo PRs, Label table PRs, Label table-demo PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs, Label test PRs, Label tree PRs, Label tree-demo PRs, Label virtuoso PRs, Label virtuoso-demo PRs

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label circular-progressbar PRs: any of: ^circular-progressbar/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label font-awesome PRs: any of: ^font-awesome/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label hotkeys PRs: any of: ^hotkeys/
  Label hotkeys-demo PRs: any of: ^hotkeys-demo/
  Label moon PRs: any of: ^moon/
  Label prime-react PRs: any of: ^prime-react/
  Label prime-react-demo PRs: any of: ^prime-react-demo/
  Label resizable PRs: any of: ^resizable/
  Label resizable-demo PRs: any of: ^resizable-demo/
  Label resize-detector PRs: any of: ^resize-detector/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootHotkeys PRs: any of: ^rootHotkeys/
  Label rootPrimeReact PRs: any of: ^rootPrimeReact/
  Label rootResizable PRs: any of: ^rootResizable/
  Label rootSemanticUI PRs: any of: ^rootSemanticUI/
  Label rootTable PRs: any of: ^rootTable/
  Label rootTanstackTable PRs: any of: ^rootTanstackTable/
  Label rootTree PRs: any of: ^rootTree/
  Label rootVirtuoso PRs: any of: ^rootVirtuoso/
  Label semantic-ui PRs: any of: ^semantic-ui/
  Label semantic-ui-demo PRs: any of: ^semantic-ui-demo/
  Label table PRs: any of: ^table/
  Label table-demo PRs: any of: ^table-demo/
  Label tanstack-table PRs: any of: ^tanstack-table/
  Label tanstack-table-demo PRs: any of: ^tanstack-table-demo/
  Label test PRs: any of: ^test/
  Label tree PRs: any of: ^tree/
  Label tree-demo PRs: any of: ^tree-demo/
  Label virtuoso PRs: any of: ^virtuoso/
  Label virtuoso-demo PRs: any of: ^virtuoso-demo/

Fix highcharts
  build.sbt
  project/plugins.sbt
Due: none

Add onSelect callback to Tree
  build.sbt
  prime-react-demo/src/main/scala/react/table/demo/TreeDemo.scala
  prime-react/src/main/scala/react/primereact/Tree.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

scrub-a-dub-dub
  moon/src/test/scala/react/moon/MoonPhaseSuite.scala
  test/src/main/scala/react/common/TestUtils.scala
Due: Label moon PRs, Label test PRs

Update test
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
  yarn.lock
Due: Label highcharts PRs

Add baseZIndex property to toast
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/Toast.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

More PrimeStyles CSS classes.
  build.sbt
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
Due: Label prime-react PRs

Use Set[Tree.Id] for tree control
  .github/workflows/ci.yml
  build.sbt
  prime-react-demo/src/main/scala/react/table/demo/TreeDemo.scala
  prime-react/src/main/scala/react/primereact/Tree.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Use frozen-lockfile option for yarn
  .github/workflows/ci.yml
  build.sbt
Due: none

Remove lucuma-react-tree
  .mergify.yml
  README.md
  build.sbt
  package.json
  tree-demo/src/main/scala/react/atlasKit/tree/demo/TreeDemo.scala
  tree-demo/src/main/scala/react/atlasKit/tree/demo/package.scala
  tree-demo/src/main/webapp/index.html
  tree-demo/src/main/webapp/main.jsx
  tree-demo/src/main/webapp/styles.css
  tree-demo/vite.config.js
  tree/src/main/scala/react/atlasKit/tree/Tree.scala
  yarn.lock
Due: Label tree PRs, Label tree-demo PRs

Regenerate workflow
  .github/workflows/ci.yml
Due: none

Replace yarn with npm
  .github/workflows/ci.yml
  README.md
  build.sbt
  flake.nix
  package-lock.json
  package.json
  yarn.lock
Due: none

Update highcharts
  highcharts-demo/src/main/webapp/main.jsx
  highcharts-demo/src/main/webapp/styles.scss
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
  package.json
Due: Label highcharts PRs, Label highcharts-demo PRs

Update lock file
  package-lock.json
Due: none

Disable fatal warnnings for now
  build.sbt
  highcharts-demo/src/main/scala/react/highcharts/demo/Demo.scala
Due: Label highcharts-demo PRs

Reformat sbt
  build.sbt
Due: none

Add ReactMarkdown facade
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  markdown/src/main/scala/react/markdown/ReactMarkdown.scala
  package-lock.json
  package.json
Due: none

Disable tests on markdown
  build.sbt
Due: none

Switch to hotkeys-hook
  build.sbt
  hotkeys-demo/src/main/scala/react/hotkeys/demo/DemoMain.scala
  hotkeys-demo/vite.config.js
  hotkeys-hooks/src/main/scala/react/hotkeys/hooks.scala
  hotkeys-hooks/src/main/scala/react/hotkeys/package.scala
  hotkeys/src/main/scala/react/hotkeys/GlobalHotKeys.scala
  hotkeys/src/main/scala/react/hotkeys/HotKeys.scala
  hotkeys/src/main/scala/react/hotkeys/HotKeysConfigure.scala
  hotkeys/src/main/scala/react/hotkeys/IgnoreKeys.scala
  hotkeys/src/main/scala/react/hotkeys/ObserveKeys.scala
  hotkeys/src/main/scala/react/hotkeys/package.scala
  package-lock.json
  package.json
Due: Label hotkeys PRs, Label hotkeys-demo PRs

Cleanup
  .mergify.yml
  build.sbt
  hotkeys-demo/src/main/scala/react/hotkeys/demo/DemoMain.scala
Due: Label hotkeys-demo PRs

Update binary version
  build.sbt
Due: none

Remove react-moon
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  moon/src/main/scala/react/moon/MoonPhase.scala
  moon/src/test/scala/react/moon/MoonPhaseSuite.scala
  package-lock.json
  package.json
Due: Label moon PRs

Make RGL facade use opaque types
  common/src/main/scala/react/common/enumValue.scala
  grid-layout/src/main/scala/react/gridlayout/package.scala
Due: Label common PRs, Label grid-layout PRs

Fix cols in rgl facade, add Layout.asList
  build.sbt
  grid-layout/src/main/scala/react/gridlayout/BaseProps.scala
  grid-layout/src/main/scala/react/gridlayout/ReactGridLayout.scala
  grid-layout/src/main/scala/react/gridlayout/ResponsiveReactGridLayout.scala
  grid-layout/src/main/scala/react/gridlayout/package.scala
Due: Label grid-layout PRs

Make LayoutItem.i mandatory
  grid-layout/src/main/scala/react/gridlayout/package.scala
  grid-layout/src/main/scala/react/gridlayout/raw/package.scala
Due: Label grid-layout PRs

Bump base version
  build.sbt
Due: none

bump base version
  build.sbt
Due: none

layered icons
  .npmrc
  build.sbt
  font-awesome-demo/src/main/scala/lucuma/react/fa/demo/DemoMain.scala
  font-awesome-demo/src/main/webapp/index.html
  font-awesome-demo/src/main/webapp/main.jsx
  font-awesome-demo/src/main/webapp/styles.css
  font-awesome-demo/vite.config.js
  font-awesome/src/main/scala/lucuma/react/fa/CounterLayer.scala
  font-awesome/src/main/scala/lucuma/react/fa/FontAwesomeIcon.scala
  font-awesome/src/main/scala/lucuma/react/fa/IconProps.scala
  font-awesome/src/main/scala/lucuma/react/fa/LayeredIcon.scala
  font-awesome/src/main/scala/lucuma/react/fa/TextLayer.scala
  font-awesome/src/main/scala/lucuma/react/fa/facade.scala
  font-awesome/src/main/scala/lucuma/react/fa/interop.scala
  font-awesome/src/main/scala/lucuma/react/fa/package.scala
  package-lock.json
  package.json
Due: Label font-awesome PRs

remove react-fontawesome, with* methods
  font-awesome-demo/src/main/scala/lucuma/react/fa/demo/DemoMain.scala
  font-awesome/src/main/scala/lucuma/react/fa/CounterLayer.scala
  font-awesome/src/main/scala/lucuma/react/fa/FontAwesomeIcon.scala
  font-awesome/src/main/scala/lucuma/react/fa/LayeredIcon.scala
  font-awesome/src/main/scala/lucuma/react/fa/TextLayer.scala
  font-awesome/src/main/scala/lucuma/react/fa/facade.scala
  font-awesome/src/main/scala/lucuma/react/fa/interop.scala
  package-lock.json
  package.json
  prime-react/src/main/scala/lucuma/react/primereact/ConfirmDialog.scala
  prime-react/src/main/scala/lucuma/react/primereact/ConfirmPopup.scala
  prime-react/src/main/scala/lucuma/react/primereact/primereact.scala
Due: Label font-awesome PRs, Label prime-react PRs

switch to free icons in the demo
  .npmrc
  font-awesome-demo/src/main/scala/lucuma/react/fa/demo/DemoMain.scala
  package-lock.json
  package.json
Due: none

mergify
  .mergify.yml
Due: none

update highcharts test
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
Due: Label highcharts PRs

add rootFontAwesome project
  build.sbt
Due: none

workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

remove semantic-ui-react
  package-lock.json
  package.json
Due: none

better layered icons types
  build.sbt
  font-awesome/src/main/scala/lucuma/react/fa/LayeredIcon.scala
  font-awesome/src/main/scala/lucuma/react/fa/TextLayer.scala
Due: Label font-awesome PRs

Update floating ui npm package
  floatingui/src/main/scala/lucuma/react/floatingui/Tooltip.scala
  floatingui/src/main/scala/lucuma/react/floatingui/package.scala
  package-lock.json
  package.json
Due: none
