Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label circular-progressbar PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label floatingui PRs, Label font-awesome PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label hotkeys PRs, Label hotkeys-demo PRs, Label markdown PRs, Label moon PRs, Label prime-react PRs, Label prime-react-demo PRs, Label resizable PRs, Label resizable-demo PRs, Label resize-detector PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootFloatingui PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootHotkeys PRs, Label rootPrimeReact PRs, Label rootResizable PRs, Label rootTanstackTable PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs, Label test PRs

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label circular-progressbar PRs: any of: ^circular-progressbar/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label floatingui PRs: any of: ^floatingui/
  Label font-awesome PRs: any of: ^font-awesome/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label hotkeys PRs: any of: ^hotkeys/
  Label hotkeys-demo PRs: any of: ^hotkeys-demo/
  Label markdown PRs: any of: ^markdown/
  Label moon PRs: any of: ^moon/
  Label prime-react PRs: any of: ^prime-react/
  Label prime-react-demo PRs: any of: ^prime-react-demo/
  Label resizable PRs: any of: ^resizable/
  Label resizable-demo PRs: any of: ^resizable-demo/
  Label resize-detector PRs: any of: ^resize-detector/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootFloatingui PRs: any of: ^rootFloatingui/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootHotkeys PRs: any of: ^rootHotkeys/
  Label rootPrimeReact PRs: any of: ^rootPrimeReact/
  Label rootResizable PRs: any of: ^rootResizable/
  Label rootTanstackTable PRs: any of: ^rootTanstackTable/
  Label tanstack-table PRs: any of: ^tanstack-table/
  Label tanstack-table-demo PRs: any of: ^tanstack-table-demo/
  Label test PRs: any of: ^test/

bump base version
  build.sbt
Due: none

fixes to table
  tanstack-table/src/main/scala/lucuma/react/table/PartialTableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
Due: Label tanstack-table PRs

bump version
  build.sbt
Due: none

Wrap message content on a function call
  prime-react/src/main/scala/lucuma/react/primereact/MessageItem.scala
Due: Label prime-react PRs

Another attempt to fix the recursion error on dismissable toasts
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/lucuma/react/primereact/MessageItem.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Expose JS raw TableState
  build.sbt
  tanstack-table/src/main/scala/lucuma/react/table/TableState.scala
Due: Label tanstack-table PRs

convenience dnd hook to track elements
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DragAndDropScope.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/Data.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/MonitorArgs.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/hooks.scala
Due: none

dnd instruction
  build.sbt
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/exports.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/extensions.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/autoScroll.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/hitbox.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/hooks.scala
Due: none

pragmatic-dnd drop indicator facade
  package.json
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/exports.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/extensions.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/hitbox.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/reactDropIndicator.scala
Due: none

lockfile
  package-lock.json
Due: none

allow callbacks in dnd functions
  build.sbt
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/Draggable.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableDropTarget.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableDropTargetWithHandle.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DraggableWithHandle.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/DropTarget.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/ElementAdapter.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/aliases.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/autoScroll.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/hooks.scala
Due: none

make resolve methods package-private to pragmaticdnd
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/aliases.scala
Due: none

pragmatic box drop indicator
  build.sbt
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/exports.scala
  pragmatic-dnd/src/main/scala/lucuma/react/pragmaticdnd/facade/reactDropIndicator.scala
Due: none

Update imports
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs

Update test
  .github/workflows/ci.yml
  build.sbt
  draggable/src/test/scala/react/draggable/DraggableTests.scala
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
  test/src/test/scala/react/common/StyleSuite.scala
Due: Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label test PRs

Update test
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
Due: Label highcharts PRs

Update
  .github/workflows/ci.yml
  beautiful-dnd/src/main/scala/lucuma/react/beautifuldnd/Droppable.scala
  build.sbt
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prime-react-demo/src/main/scala/lucuma/react/table/demo/TreeDemo.scala
  prime-react/src/main/scala/lucuma/react/primereact/FieldSet.scala
  prime-react/src/main/scala/lucuma/react/primereact/Panel.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label beautiful-dnd PRs, Label prime-react PRs, Label prime-react-demo PRs, Label tanstack-table PRs

Update lucuma-typed to v0.12.0
  build.sbt
  highcharts-demo/src/main/scala/lucuma/react/highcharts/demo/Demo.scala
Due: Label highcharts-demo PRs

Add claude md file
  CLAUDE.md
Due: none

Update jdk version
  flake.lock
  flake.nix
Due: none

Update facade for react grid layout 2
  grid-layout/src/main/scala/lucuma/react/gridlayout/BaseProps.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/ReactGridLayout.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/ResponsiveReactGridLayout.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/package.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/raw/package.scala
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
Due: Label grid-layout PRs

Bump base version
  build.sbt
Due: none

Fix react-grid-layout v2 facade
  grid-layout-demo/vite.config.js
  grid-layout/src/main/scala/lucuma/react/gridlayout/BaseProps.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/ReactGridLayout.scala
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
Due: Label grid-layout PRs, Label grid-layout-demo PRs

Update facade of react grid layout to the v2 API
  grid-layout-demo/src/main/scala/lucuma/react/gridlayout/Demo.scala
  grid-layout-demo/vite.config.js
  grid-layout/src/main/scala/lucuma/react/gridlayout/BaseProps.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/ReactGridLayout.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/ResponsiveReactGridLayout.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/package.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/raw/package.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/raw/raw.scala
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
Due: Label grid-layout PRs, Label grid-layout-demo PRs

Fix floating-ui tooltip loop bug via stable reference
  floatingui/src/main/scala/lucuma/react/floatingui/Tooltip.scala
  floatingui/src/main/scala/lucuma/react/floatingui/hooks.scala
  floatingui/src/main/scala/lucuma/react/floatingui/package.scala
Due: Label floatingui PRs

Pass a stable list of menu items to split button
  prime-react/src/main/scala/lucuma/react/primereact/SplitButton.scala
Due: Label prime-react PRs

Pass reusable menuitems for PopupTieredMenu, PopupMenu and InlineMenu
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoComponents.scala
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/InlineMenu.scala
  prime-react/src/main/scala/lucuma/react/primereact/PopupMenu.scala
  prime-react/src/main/scala/lucuma/react/primereact/PopupTieredMenu.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Update binary version
  build.sbt
Due: none

TanStack v9: SSR render test passes
  build.sbt
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/LegacyTableRaw.scala
  tanstack-table/src/test/scala/lucuma/react/table/TableRenderSuite.scala
Due: Label tanstack-table PRs

Fix runtime crash: Table.getState/setState/initialState on v9 useTable instances
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/instance.scala
  tanstack-table/src/test/scala/lucuma/react/table/TableRenderSuite.scala
Due: Label tanstack-table PRs

Remove unused imports flagged by -Wunused (tanstack-table)
  build.sbt
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ReactTableRaw.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
Due: Label tanstack-table PRs

scalafmt
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table1.scala
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table2.scala
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table3.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/FilterFn.scala
  tanstack-table/src/main/scala/lucuma/react/table/Header.scala
  tanstack-table/src/main/scala/lucuma/react/table/PartialTableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/LegacyTableRaw.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/compat.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/instance.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
  tanstack-table/src/test/scala/lucuma/react/table/TableRenderSuite.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

TanStack v9: adopt full useTable + features API; remove onStateChange
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table1.scala
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table2.scala
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table3.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/LegacyTableRaw.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ReactTableRaw.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/test/scala/lucuma/react/table/TableRenderSuite.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

TanStack v9 demo: wire row-model markers so sort/filter/facet actually run
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table1.scala
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table2.scala
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table3.scala
Due: Label tanstack-table-demo PRs

WIP: TanStack Table v8 → v9 migration (build + compat foundation)
  build.sbt
  package.json
  pnpm-lock.yaml
  tanstack-table/src/main/scala/lucuma/react/table/Cell.scala
  tanstack-table/src/main/scala/lucuma/react/table/CellContext.scala
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnFilters.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnOrder.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnResizeMode.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizing.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizingInfo.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSort.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnVisibility.scala
  tanstack-table/src/main/scala/lucuma/react/table/Expanded.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/Header.scala
  tanstack-table/src/main/scala/lucuma/react/table/HeaderContext.scala
  tanstack-table/src/main/scala/lucuma/react/table/HeaderGroup.scala
  tanstack-table/src/main/scala/lucuma/react/table/PartialTableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/Row.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowModel.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinningEnabled.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowSelection.scala
  tanstack-table/src/main/scala/lucuma/react/table/Sorting.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/Updater.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/compat.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/instance.scala
Due: Label tanstack-table PRs

Consume lucuma-typed 0.13 snapshot (./dist/* + store fixed upstream); collapse version var
  build.sbt
  package.json
  pnpm-lock.yaml
Due: none
