Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label circular-progressbar PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label floatingui PRs, Label font-awesome PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label hotkeys PRs, Label hotkeys-demo PRs, Label markdown PRs, Label moon PRs, Label prime-react PRs, Label prime-react-demo PRs, Label resizable PRs, Label resizable-demo PRs, Label resize-detector PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootFloatingui PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootHotkeys PRs, Label rootPrimeReact PRs, Label rootResizable PRs, Label rootTanstackTable PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs, Label test PRs

Label beautiful-dnd PRs:
  label:
    add:
    - beautiful-dnd
    remove: []

Label beautiful-dnd-demo PRs:
  label:
    add:
    - beautiful-dnd-demo
    remove: []

Label circular-progressbar PRs:
  label:
    add:
    - circular-progressbar
    remove: []

Label clipboard PRs:
  label:
    add:
    - clipboard
    remove: []

Label common PRs:
  label:
    add:
    - common
    remove: []

Label datepicker PRs:
  label:
    add:
    - datepicker
    remove: []

Label datepicker-demo PRs:
  label:
    add:
    - datepicker-demo
    remove: []

Label draggable PRs:
  label:
    add:
    - draggable
    remove: []

Label floatingui PRs:
  label:
    add:
    - floatingui
    remove: []

Label font-awesome PRs:
  label:
    add:
    - font-awesome
    remove: []

Label grid-layout PRs:
  label:
    add:
    - grid-layout
    remove: []

Label grid-layout-demo PRs:
  label:
    add:
    - grid-layout-demo
    remove: []

Label highcharts PRs:
  label:
    add:
    - highcharts
    remove: []

Label highcharts-demo PRs:
  label:
    add:
    - highcharts-demo
    remove: []

Label hotkeys PRs:
  label:
    add:
    - hotkeys
    remove: []

Label hotkeys-demo PRs:
  label:
    add:
    - hotkeys-demo
    remove: []

Label markdown PRs:
  label:
    add:
    - markdown
    remove: []

Label moon PRs:
  label:
    add:
    - moon
    remove: []

Label prime-react PRs:
  label:
    add:
    - prime-react
    remove: []

Label prime-react-demo PRs:
  label:
    add:
    - prime-react-demo
    remove: []

Label resizable PRs:
  label:
    add:
    - resizable
    remove: []

Label resizable-demo PRs:
  label:
    add:
    - resizable-demo
    remove: []

Label resize-detector PRs:
  label:
    add:
    - resize-detector
    remove: []

Label rootBeautifulDnd PRs:
  label:
    add:
    - rootBeautifulDnd
    remove: []

Label rootClipboard PRs:
  label:
    add:
    - rootClipboard
    remove: []

Label rootCore PRs:
  label:
    add:
    - rootCore
    remove: []

Label rootDatepicker PRs:
  label:
    add:
    - rootDatepicker
    remove: []

Label rootDraggable PRs:
  label:
    add:
    - rootDraggable
    remove: []

Label rootFloatingui PRs:
  label:
    add:
    - rootFloatingui
    remove: []

Label rootGridLayout PRs:
  label:
    add:
    - rootGridLayout
    remove: []

Label rootHighcharts PRs:
  label:
    add:
    - rootHighcharts
    remove: []

Label rootHotkeys PRs:
  label:
    add:
    - rootHotkeys
    remove: []

Label rootPrimeReact PRs:
  label:
    add:
    - rootPrimeReact
    remove: []

Label rootResizable PRs:
  label:
    add:
    - rootResizable
    remove: []

Label rootTanstackTable PRs:
  label:
    add:
    - rootTanstackTable
    remove: []

Label tanstack-table PRs:
  label:
    add:
    - tanstack-table
    remove: []

Label tanstack-table-demo PRs:
  label:
    add:
    - tanstack-table-demo
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

don't render thead or tfoot if unnecessary
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs

add missing properties to TreeNode
  build.sbt
  flake.nix
  prime-react/src/main/scala/lucuma/react/primereact/Tree.scala
Due: Label prime-react PRs

Add support for templates on dropdowns
  build.sbt
  flake.nix
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoControlsPanel.scala
  prime-react-demo/src/main/webapp/styles.scss
  prime-react/src/main/scala/lucuma/react/primereact/Dropdown.scala
  prime-react/src/main/scala/lucuma/react/primereact/DropdownBase.scala
  prime-react/src/main/scala/lucuma/react/primereact/DropdownOptional.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

render table footers when mod defined
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs

Adopt pragmatic drag and drop through migration library
  beautiful-dnd/src/main/scala/lucuma/react/beautifuldnd/DragDropContext.scala
  beautiful-dnd/src/main/scala/lucuma/react/beautifuldnd/Draggable.scala
  beautiful-dnd/src/main/scala/lucuma/react/beautifuldnd/Droppable.scala
  package-lock.json
  package.json
Due: Label beautiful-dnd PRs

add convenience methods to table state types
  tanstack-table/src/main/scala/lucuma/react/table/ColumnOrder.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizing.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnVisibility.scala
  tanstack-table/src/main/scala/lucuma/react/table/Expanded.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/Sorting.scala
Due: Label tanstack-table PRs

Update lucuma-react to 0.7.0
  .scalafix.conf
  README.md
  beautiful-dnd-demo/vite.config.js
  build.sbt
  common/src/main/scala/lucuma/react/common/scalaComponents.scala
  datepicker-demo/vite.config.js
  floatingui/src/main/scala/lucuma/react/floatingui/package.scala
  font-awesome-demo/vite.config.js
  grid-layout-demo/vite.config.js
  highcharts-demo/vite.config.js
  hotkeys-demo/vite.config.js
  prime-react-demo/src/main/scala/lucuma/react/table/demo/Demo.scala
  prime-react-demo/vite.config.js
  resizable-demo/vite.config.js
  resize-detector-demo/src/main/scala/lucuma/react/resizeDetector/demo/Demo.scala
  resize-detector-demo/vite.config.js
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Demo.scala
  tanstack-table-demo/vite.config.js
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/PartialTableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableState.scala
Due: Label beautiful-dnd-demo PRs, Label common PRs, Label datepicker-demo PRs, Label floatingui PRs, Label grid-layout-demo PRs, Label highcharts-demo PRs, Label hotkeys-demo PRs, Label prime-react-demo PRs, Label resizable-demo PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs

Allow selecting dropdown items with keyboard
  prime-react/src/main/scala/lucuma/react/primereact/DropdownBase.scala
Due: Label prime-react PRs

add loading property to dropdowns
  prime-react/src/main/scala/lucuma/react/primereact/Dropdown.scala
  prime-react/src/main/scala/lucuma/react/primereact/DropdownBase.scala
  prime-react/src/main/scala/lucuma/react/primereact/DropdownOptional.scala
Due: Label prime-react PRs

bump base version
  build.sbt
Due: none

tables: apply col width throughout
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs

explicit padding columns for virtual tables
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs

apply table cell width before custom mods
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs

require explicit sorting in tables
  build.sbt
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
Due: Label tanstack-table PRs

update deps, regenerate
  .github/workflows/ci.yml
  .scalafmt-common.conf
  build.sbt
  project/plugins.sbt
Due: none

scalafmt
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/Sorting.scala
Due: Label tanstack-table PRs

scalafmtSbt
  project/plugins.sbt
Due: none

require explicit sorting in tables
  .github/workflows/ci.yml
  .scalafmt-common.conf
  beautiful-dnd-demo/src/main/scala/lucuma/react/beautifuldnd/demo/BeautifulDnDDemo.scala
  build.sbt
  common/src/main/scala/lucuma/react/common/jsComponents.scala
  font-awesome/src/main/scala/lucuma/react/fa/CounterLayer.scala
  font-awesome/src/main/scala/lucuma/react/fa/FontAwesomeIcon.scala
  font-awesome/src/main/scala/lucuma/react/fa/TextLayer.scala
  font-awesome/src/main/scala/lucuma/react/fa/facade.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/ReactGridLayout.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/ResponsiveReactGridLayout.scala
  markdown/src/main/scala/lucuma/react/markdown/ReactMarkdown.scala
  prime-react/src/main/scala/lucuma/react/primereact/AccordionTab.scala
  prime-react/src/main/scala/lucuma/react/primereact/ConfirmDialog.scala
  prime-react/src/main/scala/lucuma/react/primereact/Messages.scala
  prime-react/src/main/scala/lucuma/react/primereact/OverlayPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/SelectButton.scala
  prime-react/src/main/scala/lucuma/react/primereact/SelectItem.scala
  prime-react/src/main/scala/lucuma/react/primereact/SplitterPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/TabPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/Toast.scala
  project/plugins.sbt
  resizable/src/main/scala/lucuma/react/resizable/Resizable.scala
  tanstack-table/src/main/scala/lucuma/react/SizePx.scala
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/Header.scala
  tanstack-table/src/main/scala/lucuma/react/table/Row.scala
  tanstack-table/src/main/scala/lucuma/react/table/Sorting.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
Due: Label beautiful-dnd-demo PRs, Label common PRs, Label font-awesome PRs, Label grid-layout PRs, Label markdown PRs, Label prime-react PRs, Label resizable PRs, Label tanstack-table PRs

update virtualizer api
  tanstack-table/src/main/scala/lucuma/react/virtual/VirtualOptions.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/facade/VirtualOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/facade/Virtualizer.scala
Due: Label tanstack-table PRs

dial back scala version
  build.sbt
Due: none

monadic hooks
  build.sbt
  prime-react/src/main/scala/lucuma/react/primereact/package.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
Due: Label prime-react PRs, Label resize-detector PRs

migrate table, virtualizer
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/VirtualHook.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/package.scala
Due: Label tanstack-table PRs

prime hooks
  prime-react/src/main/scala/lucuma/react/primereact/hooks/UseMessagesRef.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/UseOverlayPanelRef.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/UsePopupMenuRef.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/UseToastRef.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/hooks.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
Due: Label prime-react PRs, Label resize-detector PRs

migrate hotkeys hooks
  hotkeys-hooks/src/main/scala/lucuma/react/hotkeys/hooks.scala
  hotkeys-hooks/src/main/scala/lucuma/react/hotkeys/package.scala
Due: none

migrate floating hooks
  floatingui/src/main/scala/lucuma/react/floatingui/hooks.scala
Due: Label floatingui PRs

enable compact component definition, fix useResize
  common/src/main/scala/lucuma/react/common/scalaComponents.scala
  hotkeys-hooks/src/main/scala/lucuma/react/hotkeys/hooks.scala
  resize-detector-demo/src/main/scala/lucuma/react/resizeDetector/demo/HookDemo.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
Due: Label common PRs, Label resize-detector PRs

Helper values for common TooltipOptions.
  prime-react/src/main/scala/lucuma/react/primereact/TooltipOptions.scala
Due: Label prime-react PRs

Lib updates
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  common/src/main/scala/lucuma/react/common/scalaComponents.scala
  project/plugins.sbt
Due: Label common PRs

filtering API checkpoint
  tanstack-table/src/main/scala/lucuma/react/table/Cell.scala
  tanstack-table/src/main/scala/lucuma/react/table/CellContext.scala
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/FilterFn.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/Header.scala
  tanstack-table/src/main/scala/lucuma/react/table/HeaderContext.scala
  tanstack-table/src/main/scala/lucuma/react/table/HeaderGroup.scala
  tanstack-table/src/main/scala/lucuma/react/table/Row.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label tanstack-table PRs

column filtering api complete
  tanstack-table/src/main/scala/lucuma/react/table/ColumnFilters.scala
  tanstack-table/src/main/scala/lucuma/react/table/FilterResult.scala
  tanstack-table/src/main/scala/lucuma/react/table/Row.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
Due: Label tanstack-table PRs

scalafix
  tanstack-table/src/main/scala/lucuma/react/table/BuiltInFilter.scala
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
Due: Label tanstack-table PRs

column meta is a table type param
  tanstack-table/src/main/scala/lucuma/react/table/Cell.scala
  tanstack-table/src/main/scala/lucuma/react/table/CellContext.scala
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/FilterFn.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/Header.scala
  tanstack-table/src/main/scala/lucuma/react/table/HeaderContext.scala
  tanstack-table/src/main/scala/lucuma/react/table/HeaderGroup.scala
  tanstack-table/src/main/scala/lucuma/react/table/HooksApiExt.scala
  tanstack-table/src/main/scala/lucuma/react/table/Row.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowModel.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinningEnabled.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label tanstack-table PRs

final touches, demo
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table1.scala
  tanstack-table-demo/src/main/webapp/style.scss
  tanstack-table/src/main/scala/lucuma/react/table/BuiltInFilter.scala
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/FilterFn.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

remove commented code
  tanstack-table/src/main/scala/lucuma/react/table/BuiltInFilter.scala
  tanstack-table/src/main/scala/lucuma/react/table/FilterFn.scala
Due: Label tanstack-table PRs

add filter refinement functions
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/FilterFn.scala
Due: Label tanstack-table PRs

add commented method
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
Due: Label tanstack-table PRs

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label circular-progressbar PRs: any of: ^circular-progressbar/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label floatingui PRs: any of: ^floatingui/
  Label font-awesome PRs: any of: ^font-awesome/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label hotkeys PRs: any of: ^hotkeys/
  Label hotkeys-demo PRs: any of: ^hotkeys-demo/
  Label markdown PRs: any of: ^markdown/
  Label moon PRs: any of: ^moon/
  Label prime-react PRs: any of: ^prime-react/
  Label prime-react-demo PRs: any of: ^prime-react-demo/
  Label resizable PRs: any of: ^resizable/
  Label resizable-demo PRs: any of: ^resizable-demo/
  Label resize-detector PRs: any of: ^resize-detector/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootFloatingui PRs: any of: ^rootFloatingui/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootHotkeys PRs: any of: ^rootHotkeys/
  Label rootPrimeReact PRs: any of: ^rootPrimeReact/
  Label rootResizable PRs: any of: ^rootResizable/
  Label rootTanstackTable PRs: any of: ^rootTanstackTable/
  Label tanstack-table PRs: any of: ^tanstack-table/
  Label tanstack-table-demo PRs: any of: ^tanstack-table-demo/
  Label test PRs: any of: ^test/
