Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label cats PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootSemanticUI PRs, Label rootTable PRs, Label rootTree PRs, Label rootVirtuoso PRs, Label semantic-ui PRs, Label semantic-ui-demo PRs, Label table PRs, Label table-demo PRs, Label test PRs, Label tree PRs, Label tree-demo PRs, Label virtuoso PRs, Label virtuoso-demo PRs

Label beautiful-dnd PRs:
  label:
    add:
    - beautiful-dnd
    remove: []

Label beautiful-dnd-demo PRs:
  label:
    add:
    - beautiful-dnd-demo
    remove: []

Label cats PRs:
  label:
    add:
    - cats
    remove: []

Label clipboard PRs:
  label:
    add:
    - clipboard
    remove: []

Label common PRs:
  label:
    add:
    - common
    remove: []

Label datepicker PRs:
  label:
    add:
    - datepicker
    remove: []

Label datepicker-demo PRs:
  label:
    add:
    - datepicker-demo
    remove: []

Label draggable PRs:
  label:
    add:
    - draggable
    remove: []

Label grid-layout PRs:
  label:
    add:
    - grid-layout
    remove: []

Label grid-layout-demo PRs:
  label:
    add:
    - grid-layout-demo
    remove: []

Label highcharts PRs:
  label:
    add:
    - highcharts
    remove: []

Label highcharts-demo PRs:
  label:
    add:
    - highcharts-demo
    remove: []

Label rootBeautifulDnd PRs:
  label:
    add:
    - rootBeautifulDnd
    remove: []

Label rootClipboard PRs:
  label:
    add:
    - rootClipboard
    remove: []

Label rootCore PRs:
  label:
    add:
    - rootCore
    remove: []

Label rootDatepicker PRs:
  label:
    add:
    - rootDatepicker
    remove: []

Label rootDraggable PRs:
  label:
    add:
    - rootDraggable
    remove: []

Label rootGridLayout PRs:
  label:
    add:
    - rootGridLayout
    remove: []

Label rootHighcharts PRs:
  label:
    add:
    - rootHighcharts
    remove: []

Label rootSemanticUI PRs:
  label:
    add:
    - rootSemanticUI
    remove: []

Label rootTable PRs:
  label:
    add:
    - rootTable
    remove: []

Label rootTree PRs:
  label:
    add:
    - rootTree
    remove: []

Label rootVirtuoso PRs:
  label:
    add:
    - rootVirtuoso
    remove: []

Label semantic-ui PRs:
  label:
    add:
    - semantic-ui
    remove: []

Label semantic-ui-demo PRs:
  label:
    add:
    - semantic-ui-demo
    remove: []

Label table PRs:
  label:
    add:
    - table
    remove: []

Label table-demo PRs:
  label:
    add:
    - table-demo
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

Label tree PRs:
  label:
    add:
    - tree
    remove: []

Label tree-demo PRs:
  label:
    add:
    - tree-demo
    remove: []

Label virtuoso PRs:
  label:
    add:
    - virtuoso
    remove: []

Label virtuoso-demo PRs:
  label:
    add:
    - virtuoso-demo
    remove: []

Update react-datepicker types to 4.3.4
  datepicker/package.json
  datepicker/yarn.lock
Due: Label datepicker PRs

Update react-table to 7.8.0
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/package.json
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Update vite+react plugin
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Update to react-draggable 4.4.5
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Update utest to 0.8.0
  build.sbt
Due: none

Update sbt-tpolecat to 0.3.3
  project/plugins.sbt
Due: none

Update sbt-scalajs, scalajs-compiler, ... to 1.10.1
  project/plugins.sbt
Due: none

Update to react-virtuoso 2.16.1
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Update to react-datepicker 4.8.0
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Update to typescript 4.7
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Update to less 4.1.3
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Update to tree 8.6.1
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Update to resize-detector 7.1.2
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Fix some tests
  draggable/src/test/scala/react/draggable/DraggableTests.scala
Due: Label draggable PRs

Fix another test
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
Due: Label highcharts PRs

Update sbt to 1.7.0
  project/build.properties
  project/project/build.properties
  project/project/project/build.properties
Due: none

Update lockfiles
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Update sbt to 1.7.1
  project/build.properties
  project/project/build.properties
  project/project/project/build.properties
Due: none

Try mking workflow for updating lockfiles
  .github/workflows/update-lockfiles.yml
Due: none

Iterate on update-lockfile workflow
  .github/workflows/update-lockfiles.yml
  build.sbt
Due: none

Fix typo
  build.sbt
Due: none

Iterate again on update-lockfiles [ci skip]
  .github/workflows/update-lockfiles.yml
Due: none

Use the token in the right step
  .github/workflows/update-lockfiles.yml
Due: none

Don't run CI for dependabot branches
  .github/workflows/ci.yml
  build.sbt
Due: none

Update sbt-tpolecat to 0.4.0
  project/plugins.sbt
Due: none

Add example for running demo [ci skip]
  README.md
Due: none

Add hotkeys
  beautiful-dnd/yarn.lock
  build.sbt
  clipboard/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  hotkeys-demo/src/main/scala/react/hotkeys/demo/DemoMain.scala
  hotkeys-demo/src/main/webapp/index.html
  hotkeys-demo/src/main/webapp/main.jsx
  hotkeys-demo/src/main/webapp/styles.css
  hotkeys-demo/vite.config.js
  hotkeys/src/main/scala/react/hotkeys/GlobalHotKeys.scala
  hotkeys/src/main/scala/react/hotkeys/HotKeys.scala
  hotkeys/src/main/scala/react/hotkeys/HotKeysConfigure.scala
  hotkeys/src/main/scala/react/hotkeys/IgnoreKeys.scala
  hotkeys/src/main/scala/react/hotkeys/ObserveKeys.scala
  hotkeys/src/main/scala/react/hotkeys/package.scala
  hotkeys/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Regenerate workflow
  .github/workflows/ci.yml
  .mergify.yml
Due: none

No final object
  hotkeys/src/main/scala/react/hotkeys/package.scala
Due: none

Add resizable
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  package.json
  resizable-demo/src/main/resources/app.js
  resizable-demo/src/main/resources/dev.js
  resizable-demo/src/main/resources/styles.css
  resizable-demo/src/main/scala/react/draggable/demo/Demo.scala
  resizable-demo/src/main/webapp/index.html
  resizable-demo/src/main/webapp/main.jsx
  resizable-demo/src/main/webapp/styles.css
  resizable-demo/vite.config.js
  resizable/src/main/scala/react/resizable/Resizable.scala
  resizable/src/main/scala/react/resizable/package.scala
  resizable/yarn.lock
  yarn.lock
Due: none

Add annoying webpack config
  resizable/src/main/webpack/test.webpack.config.js
Due: none

ffs
  resizable/src/webpack/test.webpack.config.js
Due: none

Minor fixes.
  semantic-ui-demo/src/main/scala/react/semanticui/demo/elements/IconsComponent.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/elements/LabelsComponent.scala
  semantic-ui/src/main/scala/react/semanticui/elements/header/Header.scala
  semantic-ui/src/main/scala/react/semanticui/elements/label/LabelDetail.scala
  semantic-ui/src/main/scala/react/semanticui/package.scala
Due: Label semantic-ui PRs, Label semantic-ui-demo PRs

Allow update-lockfiles on dispatch [ci skip]
  .github/workflows/update-lockfiles.yml
Due: none

Run update-lockfiles action on dispatch [ci skip]
  .github/workflows/update-lockfiles.yml
Due: none

type [ci skip]
  .github/workflows/update-lockfiles.yml
Due: none

Fix broken tests
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuItemSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuMenuSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/container/ContainerSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/divider/DividerSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/flag/FlagSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/header/HeaderContentSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/header/HeaderSubheaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/header/HeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/image/ImageSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListContentSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListDescriptionSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListItemSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListListSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/loader/LoaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/placeholder/PlaceholderSuite.scala
Due: Label semantic-ui PRs

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label cats PRs: any of: ^cats/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootSemanticUI PRs: any of: ^rootSemanticUI/
  Label rootTable PRs: any of: ^rootTable/
  Label rootTree PRs: any of: ^rootTree/
  Label rootVirtuoso PRs: any of: ^rootVirtuoso/
  Label semantic-ui PRs: any of: ^semantic-ui/
  Label semantic-ui-demo PRs: any of: ^semantic-ui-demo/
  Label table PRs: any of: ^table/
  Label table-demo PRs: any of: ^table-demo/
  Label test PRs: any of: ^test/
  Label tree PRs: any of: ^tree/
  Label tree-demo PRs: any of: ^tree-demo/
  Label virtuoso PRs: any of: ^virtuoso/
  Label virtuoso-demo PRs: any of: ^virtuoso-demo/
