Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label cats PRs, Label clipboard PRs, Label common PRs, Label draggable PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label test PRs

Label cats PRs:
  label:
    add:
    - cats
    remove: []

Label clipboard PRs:
  label:
    add:
    - clipboard
    remove: []

Label common PRs:
  label:
    add:
    - common
    remove: []

Label draggable PRs:
  label:
    add:
    - draggable
    remove: []

Label grid-layout PRs:
  label:
    add:
    - grid-layout
    remove: []

Label grid-layout-demo PRs:
  label:
    add:
    - grid-layout-demo
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

Reformat with scalafmt 3.5.3
  build.sbt
  demo/src/main/scala/react/draggable/demo/Demo.scala
Due: none

Update lucuma-ui to 0.35.4
  build.sbt
Due: none

Revert commit(s) d31d589
  build.sbt
Due: none

Update scalajs-dom to 2.2.0
  build.sbt
Due: none

Update lucuma-ui to 0.35.5
  build.sbt
Due: none

Update sbt-converter to 1.0.0-beta37+24-93dcd860-SNAPSHOT
  project/plugins.sbt
Due: none

Update sbt-converter to 1.0.0-beta37+33-45b800b3-SNAPSHOT
  project/plugins.sbt
Due: none

SemanticUI compiles, finally
  semantic-ui/src/main/scala/react/semanticui/addons/confirm/Confirm.scala
  semantic-ui/src/main/scala/react/semanticui/addons/portal/Portal.scala
  semantic-ui/src/main/scala/react/semanticui/addons/radio/Radio.scala
  semantic-ui/src/main/scala/react/semanticui/addons/select/Select.scala
  semantic-ui/src/main/scala/react/semanticui/addons/textarea/TextArea.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormButton.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormCheckbox.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormDropdown.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormField.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormGroup.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormInput.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormSelect.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormTextArea.scala
  semantic-ui/src/main/scala/react/semanticui/collections/grid/GridRow.scala
  semantic-ui/src/main/scala/react/semanticui/collections/message/Message.scala
  semantic-ui/src/main/scala/react/semanticui/collections/message/MessageContent.scala
  semantic-ui/src/main/scala/react/semanticui/collections/message/MessageItem.scala
  semantic-ui/src/main/scala/react/semanticui/collections/table/TableCell.scala
  semantic-ui/src/main/scala/react/semanticui/collections/table/TableHeaderCell.scala
  semantic-ui/src/main/scala/react/semanticui/elements/button/Button.scala
  semantic-ui/src/main/scala/react/semanticui/elements/header/Header.scala
  semantic-ui/src/main/scala/react/semanticui/elements/image/Image.scala
  semantic-ui/src/main/scala/react/semanticui/elements/input/Input.scala
  semantic-ui/src/main/scala/react/semanticui/elements/label/Label.scala
  semantic-ui/src/main/scala/react/semanticui/elements/list/ListContent.scala
  semantic-ui/src/main/scala/react/semanticui/elements/list/ListItem.scala
  semantic-ui/src/main/scala/react/semanticui/modules/accordion/AccordionPanel.scala
  semantic-ui/src/main/scala/react/semanticui/modules/accordion/AccordionTitle.scala
  semantic-ui/src/main/scala/react/semanticui/modules/checkbox/Checkbox.scala
  semantic-ui/src/main/scala/react/semanticui/modules/dropdown/Dropdown.scala
  semantic-ui/src/main/scala/react/semanticui/modules/dropdown/DropdownHeader.scala
  semantic-ui/src/main/scala/react/semanticui/modules/dropdown/DropdownItem.scala
  semantic-ui/src/main/scala/react/semanticui/modules/modal/Modal.scala
  semantic-ui/src/main/scala/react/semanticui/modules/popup/Popup.scala
  semantic-ui/src/main/scala/react/semanticui/modules/progress/Progress.scala
Due: none

Bump to 3.1.2 final
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Update lockfiles
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  svgdotjs/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
Due: Label clipboard PRs, Label draggable PRs, Label grid-layout PRs, Label test PRs

More compile fixing
  semantic-ui/src/main/scala/react/semanticui/modules/tab/Tab.scala
  semantic-ui/src/main/scala/react/semanticui/modules/tab/TabPane.scala
  semantic-ui/src/main/scala/react/semanticui/package.scala
  semantic-ui/src/main/scala/react/semanticui/views/card/Card.scala
  semantic-ui/src/main/scala/react/semanticui/views/card/CardContent.scala
  semantic-ui/src/main/scala/react/semanticui/views/card/CardDescription.scala
  semantic-ui/src/main/scala/react/semanticui/views/card/CardGroup.scala
  semantic-ui/src/main/scala/react/semanticui/views/card/CardHeader.scala
  semantic-ui/src/main/scala/react/semanticui/views/card/CardMeta.scala
  semantic-ui/src/main/scala/react/semanticui/views/item/Item.scala
  semantic-ui/src/main/scala/react/semanticui/views/item/ItemContent.scala
  semantic-ui/src/main/scala/react/semanticui/views/item/ItemDescription.scala
  semantic-ui/src/main/scala/react/semanticui/views/item/ItemExtra.scala
  semantic-ui/src/main/scala/react/semanticui/views/item/ItemGroup.scala
  semantic-ui/src/main/scala/react/semanticui/views/item/ItemHeader.scala
  semantic-ui/src/main/scala/react/semanticui/views/item/ItemImage.scala
  semantic-ui/src/main/scala/react/semanticui/views/item/ItemMeta.scala
Due: none

Fix another layer of compile errors
  package.json
  semantic-ui/src/main/scala/react/semanticui/addons/portal/Portal.scala
  semantic-ui/src/main/scala/react/semanticui/addons/textarea/TextArea.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormButton.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormCheckbox.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormDropdown.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormField.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormGroup.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormInput.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormTextArea.scala
  semantic-ui/src/main/scala/react/semanticui/collections/message/Message.scala
  semantic-ui/src/main/scala/react/semanticui/collections/message/MessageContent.scala
  semantic-ui/src/main/scala/react/semanticui/collections/message/MessageHeader.scala
  semantic-ui/src/main/scala/react/semanticui/collections/message/MessageItem.scala
  semantic-ui/src/main/scala/react/semanticui/collections/message/MessageList.scala
  semantic-ui/src/main/scala/react/semanticui/elements/input/Input.scala
  semantic-ui/src/main/scala/react/semanticui/modules/dropdown/Dropdown.scala
  semantic-ui/src/main/scala/react/semanticui/package.scala
  semantic-ui/yarn.lock
  yarn.lock
Due: none

Fix a couple compile problems
  semantic-ui/src/test/scala/react/semanticui/addons/portal/PortalSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/form/FormButtonSuite.scala
Due: none

formatting
  build.sbt
Due: none

Parallelize CI
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

No-publish new roots
  build.sbt
Due: none

Import grid-layout
  build.sbt
  grid-layout/package.json
  grid-layout/src/main/scala/react/gridlayout/BaseProps.scala
  grid-layout/src/main/scala/react/gridlayout/ReactGridLayout.scala
  grid-layout/src/main/scala/react/gridlayout/ResponsiveReactGridLayout.scala
  grid-layout/src/main/scala/react/gridlayout/package.scala
  grid-layout/src/main/scala/react/gridlayout/raw/package.scala
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
  grid-layout/src/webpack/test.webpack.config.js
  grid-layout/yarn.lock
Due: Label grid-layout PRs

Wip grid-layout-demo
  build.sbt
  grid-layout-demo/src/main/scala/ResizeDetector.scala
  grid-layout-demo/src/main/scala/react/gridlayout/Demo.scala
  grid-layout-demo/src/main/scala/react/resize.scala
  grid-layout-demo/src/main/webapp/index.html
  grid-layout-demo/src/main/webapp/main.jsx
  grid-layout-demo/src/main/webapp/styles.css
  grid-layout-demo/src/webpack/webpack-dev.config.js
  grid-layout-demo/src/webpack/webpack-prod.config.js
  grid-layout-demo/src/webpack/webpack.common.js
  grid-layout-demo/src/webpack/webpack.parts.js
  grid-layout-demo/yarn.lock
  grid-layout/package.json
  package.json
Due: Label grid-layout PRs, Label grid-layout-demo PRs

Update react-grid-layout
  grid-layout/yarn.lock
  package.json
  test/yarn.lock
  yarn.lock
Due: Label grid-layout PRs, Label test PRs

Update root aggregate
  build.sbt
Due: none

Disable tests for demo
  build.sbt
Due: none

Lockfiles
  grid-layout/yarn.lock
  test/yarn.lock
Due: Label grid-layout PRs, Label test PRs

Setup vite
  build.sbt
  grid-layout-demo/src/webpack/webpack-dev.config.js
  grid-layout-demo/src/webpack/webpack-prod.config.js
  grid-layout-demo/src/webpack/webpack.common.js
  grid-layout-demo/src/webpack/webpack.parts.js
  grid-layout-demo/vite.config.js
  grid-layout-demo/yarn.lock
  package.json
  test/yarn.lock
  yarn.lock
Due: Label grid-layout-demo PRs, Label test PRs

Fix test
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
Due: Label grid-layout PRs

Update mergify
  .mergify.yml
Due: none

Update lockfile
  yarn.lock
Due: none

Add new projects to root
  build.sbt
Due: none

Trailing /
  build.sbt
  grid-layout-demo/vite.config.js
Due: Label grid-layout-demo PRs

Auto-generate vite config for demos
  .scala-steward.conf
  build.sbt
  grid-layout-demo/vite.config.js
Due: Label grid-layout-demo PRs

WIP importing react-draggable
  build.sbt
  draggable-demo/src/main/resources/app.js
  draggable-demo/src/main/resources/dev.js
  draggable-demo/src/main/resources/styles.css
  draggable-demo/src/main/scala/react/draggable/demo/Data.scala
  draggable-demo/src/main/scala/react/draggable/demo/Demo.scala
  draggable-demo/vite.config.js
  draggable-demo/yarn.lock
  draggable/src/main/scala/react/draggable/Draggable.scala
  draggable/src/main/scala/react/draggable/package.scala
  draggable/src/test/scala/react/draggable/DraggableTests.scala
  draggable/src/webpack/test.webpack.config.js
  draggable/yarn.lock
  package.json
  yarn.lock
Due: Label draggable PRs

Bump to 3.1.2-RC2
  build.sbt
Due: none

Add draggable to root
  build.sbt
  grid-layout/yarn.lock
  test/yarn.lock
Due: Label grid-layout PRs, Label test PRs

Regenerate workflow
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Formatting
  build.sbt
Due: none

Remove draggable demo
  .mergify.yml
  build.sbt
  draggable-demo/src/main/resources/app.js
  draggable-demo/src/main/resources/dev.js
  draggable-demo/src/main/resources/styles.css
  draggable-demo/src/main/scala/react/draggable/demo/Data.scala
  draggable-demo/src/main/scala/react/draggable/demo/Demo.scala
  draggable-demo/vite.config.js
  draggable-demo/yarn.lock
Due: none

Import clipboard
  .mergify.yml
  build.sbt
  clipboard/src/main/scala/react/clipboard/CopyToClipboard.scala
  clipboard/src/main/scala/react/clipboard/package.scala
  clipboard/src/test/scala/react/clipboard/CopyToClipboardSuite.scala
  clipboard/src/webpack/test.webpack.config.js
  clipboard/yarn.lock
  grid-layout/yarn.lock
  package.json
  test/yarn.lock
  yarn.lock
Due: Label clipboard PRs, Label grid-layout PRs, Label test PRs

Import svgdotjs
  .mergify.yml
  build.sbt
  project/plugins.sbt
  svgdotjs/package.json
  svgdotjs/yarn.lock
Due: none

Path conditions:
  Label cats PRs: any of: ^cats/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label draggable PRs: any of: ^draggable/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label test PRs: any of: ^test/
