Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label circular-progressbar PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label font-awesome PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label hotkeys PRs, Label hotkeys-demo PRs, Label moon PRs, Label prime-react PRs, Label prime-react-demo PRs, Label resizable PRs, Label resizable-demo PRs, Label resize-detector PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootHotkeys PRs, Label rootPrimeReact PRs, Label rootResizable PRs, Label rootSemanticUI PRs, Label rootTable PRs, Label rootTanstackTable PRs, Label rootTree PRs, Label rootVirtuoso PRs, Label semantic-ui PRs, Label semantic-ui-demo PRs, Label table PRs, Label table-demo PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs, Label test PRs, Label tree PRs, Label tree-demo PRs, Label virtuoso PRs, Label virtuoso-demo PRs

Label beautiful-dnd PRs:
  label:
    add:
    - beautiful-dnd
    remove: []

Label beautiful-dnd-demo PRs:
  label:
    add:
    - beautiful-dnd-demo
    remove: []

Label circular-progressbar PRs:
  label:
    add:
    - circular-progressbar
    remove: []

Label clipboard PRs:
  label:
    add:
    - clipboard
    remove: []

Label common PRs:
  label:
    add:
    - common
    remove: []

Label datepicker PRs:
  label:
    add:
    - datepicker
    remove: []

Label datepicker-demo PRs:
  label:
    add:
    - datepicker-demo
    remove: []

Label draggable PRs:
  label:
    add:
    - draggable
    remove: []

Label font-awesome PRs:
  label:
    add:
    - font-awesome
    remove: []

Label grid-layout PRs:
  label:
    add:
    - grid-layout
    remove: []

Label grid-layout-demo PRs:
  label:
    add:
    - grid-layout-demo
    remove: []

Label highcharts PRs:
  label:
    add:
    - highcharts
    remove: []

Label highcharts-demo PRs:
  label:
    add:
    - highcharts-demo
    remove: []

Label hotkeys PRs:
  label:
    add:
    - hotkeys
    remove: []

Label hotkeys-demo PRs:
  label:
    add:
    - hotkeys-demo
    remove: []

Label moon PRs:
  label:
    add:
    - moon
    remove: []

Label prime-react PRs:
  label:
    add:
    - prime-react
    remove: []

Label prime-react-demo PRs:
  label:
    add:
    - prime-react-demo
    remove: []

Label resizable PRs:
  label:
    add:
    - resizable
    remove: []

Label resizable-demo PRs:
  label:
    add:
    - resizable-demo
    remove: []

Label resize-detector PRs:
  label:
    add:
    - resize-detector
    remove: []

Label rootBeautifulDnd PRs:
  label:
    add:
    - rootBeautifulDnd
    remove: []

Label rootClipboard PRs:
  label:
    add:
    - rootClipboard
    remove: []

Label rootCore PRs:
  label:
    add:
    - rootCore
    remove: []

Label rootDatepicker PRs:
  label:
    add:
    - rootDatepicker
    remove: []

Label rootDraggable PRs:
  label:
    add:
    - rootDraggable
    remove: []

Label rootGridLayout PRs:
  label:
    add:
    - rootGridLayout
    remove: []

Label rootHighcharts PRs:
  label:
    add:
    - rootHighcharts
    remove: []

Label rootHotkeys PRs:
  label:
    add:
    - rootHotkeys
    remove: []

Label rootPrimeReact PRs:
  label:
    add:
    - rootPrimeReact
    remove: []

Label rootResizable PRs:
  label:
    add:
    - rootResizable
    remove: []

Label rootSemanticUI PRs:
  label:
    add:
    - rootSemanticUI
    remove: []

Label rootTable PRs:
  label:
    add:
    - rootTable
    remove: []

Label rootTanstackTable PRs:
  label:
    add:
    - rootTanstackTable
    remove: []

Label rootTree PRs:
  label:
    add:
    - rootTree
    remove: []

Label rootVirtuoso PRs:
  label:
    add:
    - rootVirtuoso
    remove: []

Label semantic-ui PRs:
  label:
    add:
    - semantic-ui
    remove: []

Label semantic-ui-demo PRs:
  label:
    add:
    - semantic-ui-demo
    remove: []

Label table PRs:
  label:
    add:
    - table
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

Update highcharts test
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
Due: Label highcharts PRs

No facade settings for tanstack
  build.sbt
Due: none

Same for primereact
  build.sbt
Due: none

Update to `lucuma-typed` v0.4.1 and associated changes
  build.sbt
  prime-react/src/main/scala/react/primereact/Checkbox.scala
  prime-react/src/main/scala/react/primereact/InputSwitch.scala
Due: Label prime-react PRs

Update to webpack 5.75.0
  build.sbt
Due: none

Bumpity bump
  build.sbt
  test/yarn.lock
Due: Label test PRs

ST facades are now in lucuma-typed [ci skip]
  README.md
Due: none

Update to webpack 5.76.1
  beautiful-dnd/yarn.lock
  build.sbt
  circular-progressbar/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  floatingui/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  hotkeys/yarn.lock
  moon/yarn.lock
  resizable/yarn.lock
  test/yarn.lock
  tree/yarn.lock
Due: Label beautiful-dnd PRs, Label circular-progressbar PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label hotkeys PRs, Label moon PRs, Label resizable PRs, Label test PRs, Label tree PRs

Trying bundler linker
  build.sbt
  project/plugins.sbt
Due: none

allow using more general refs in tables
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label tanstack-table PRs

update dependencies
  beautiful-dnd/yarn.lock
  circular-progressbar/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  floatingui/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  hotkeys/yarn.lock
  moon/yarn.lock
  package.json
  prime-react/yarn.lock
  resizable/yarn.lock
  tanstack-table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label circular-progressbar PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label hotkeys PRs, Label moon PRs, Label prime-react PRs, Label resizable PRs, Label tanstack-table PRs, Label test PRs, Label tree PRs

disable tests
  .github/workflows/ci.yml
Due: none

disable workflows check
  .github/workflows/ci.yml
Due: none

bump base version
  build.sbt
Due: none

First steps towards bye-bye webpack
  build.sbt
  project/HackedJSDOMNodeJSEnv.scala
  project/plugins.sbt
Due: none

It's alive!
  project/HackedJSDOMNodeJSEnv.scala
Due: none

Delete lockfiles and webpack configs
  beautiful-dnd/src/webpack/test.webpack.config.js
  beautiful-dnd/yarn.lock
  circular-progressbar/src/webpack/test.webpack.config.js
  circular-progressbar/yarn.lock
  clipboard/src/webpack/test.webpack.config.js
  clipboard/yarn.lock
  datepicker-demo/yarn.lock
  datepicker/src/webpack/test.webpack.config.js
  datepicker/yarn.lock
  draggable/src/webpack/test.webpack.config.js
  draggable/yarn.lock
  floatingui/src/webpack/test.webpack.config.js
  floatingui/yarn.lock
  grid-layout/src/webpack/test.webpack.config.js
  grid-layout/yarn.lock
  highcharts/src/webpack/test.webpack.config.js
  highcharts/yarn.lock
  hotkeys/src/webpack/test.webpack.config.js
  hotkeys/yarn.lock
  moon/src/webpack/test.webpack.config.js
  moon/yarn.lock
  prime-react/yarn.lock
  resizable/src/webpack/test.webpack.config.js
  resizable/yarn.lock
  tanstack-table/yarn.lock
  test/src/webpack/test.webpack.config.js
  test/yarn.lock
  tree/src/webpack/test.webpack.config.js
  tree/yarn.lock
Due: Label beautiful-dnd PRs, Label circular-progressbar PRs, Label clipboard PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label hotkeys PRs, Label moon PRs, Label prime-react PRs, Label resizable PRs, Label tanstack-table PRs, Label test PRs, Label tree PRs

Fixing
  circular-progressbar/src/main/scala/react/circularprogressbar/CircularProgressbar.scala
  draggable/src/main/scala/react/draggable/Draggable.scala
  grid-layout/src/main/scala/react/gridlayout/ReactGridLayout.scala
  grid-layout/src/main/scala/react/gridlayout/ResponsiveReactGridLayout.scala
  moon/src/main/scala/react/moon/MoonPhase.scala
Due: Label circular-progressbar PRs, Label draggable PRs, Label grid-layout PRs, Label moon PRs

More fixing
  highcharts/src/main/scala/react/highcharts/Chart.scala
Due: Label highcharts PRs

Revert "Merge pull request #397 from gemini-hlsw/no-tests"
  .github/workflows/ci.yml
  build.sbt
Due: none

Bump base ver
  build.sbt
Due: none

Delete update lockfiles workflow
  .github/workflows/update-lockfiles.yml
Due: none

Formatting
  project/plugins.sbt
Due: none

linting
  circular-progressbar/src/main/scala/react/circularprogressbar/CircularProgressbar.scala
  project/HackedJSDOMNodeJSEnv.scala
Due: Label circular-progressbar PRs

formatting
  grid-layout/src/main/scala/react/gridlayout/ResponsiveReactGridLayout.scala
Due: Label grid-layout PRs

npm install in CI
  .github/workflows/ci.yml
  build.sbt
Due: none

We use yarn
  .github/workflows/ci.yml
  build.sbt
Due: none

Restore `force`
  circular-progressbar/src/main/scala/react/circularprogressbar/CircularProgressbar.scala
Due: Label circular-progressbar PRs

Fix test
  moon/src/test/scala/react/moon/MoonPhaseSuite.scala
Due: Label moon PRs

Update README.md [ci skip]
  README.md
Due: none

Add a `ValueType` vdomAttr for `SizePx`
  tanstack-table/src/main/scala/lucuma/react/syntax/package.scala
Due: Label tanstack-table PRs

Switch to upstreamed jsenv
  build.sbt
  project/HackedJSDOMNodeJSEnv.scala
  project/plugins.sbt
Due: none

Fix
  build.sbt
Due: none

Add primereact Tree bindings
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react-demo/src/main/scala/react/table/demo/TreeDemo.scala
  prime-react/src/main/scala/react/primereact/Tree.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Formatting
  prime-react-demo/src/main/scala/react/table/demo/TreeDemo.scala
Due: Label prime-react-demo PRs

Use Icon
  prime-react-demo/src/main/scala/react/table/demo/TreeDemo.scala
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/ConfirmPopup.scala
  prime-react/src/main/scala/react/primereact/MenuItem.scala
  prime-react/src/main/scala/react/primereact/Message.scala
  prime-react/src/main/scala/react/primereact/MessageItem.scala
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
  prime-react/src/main/scala/react/primereact/Tag.scala
  prime-react/src/main/scala/react/primereact/ToggleButton.scala
  prime-react/src/main/scala/react/primereact/Tree.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Formatting
  prime-react/src/main/scala/react/primereact/Tree.scala
Due: Label prime-react PRs

Revert "More fixing"
  highcharts/src/main/scala/react/highcharts/Chart.scala
Due: Label highcharts PRs

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label circular-progressbar PRs: any of: ^circular-progressbar/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label font-awesome PRs: any of: ^font-awesome/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label hotkeys PRs: any of: ^hotkeys/
  Label hotkeys-demo PRs: any of: ^hotkeys-demo/
  Label moon PRs: any of: ^moon/
  Label prime-react PRs: any of: ^prime-react/
  Label prime-react-demo PRs: any of: ^prime-react-demo/
  Label resizable PRs: any of: ^resizable/
  Label resizable-demo PRs: any of: ^resizable-demo/
  Label resize-detector PRs: any of: ^resize-detector/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootHotkeys PRs: any of: ^rootHotkeys/
  Label rootPrimeReact PRs: any of: ^rootPrimeReact/
  Label rootResizable PRs: any of: ^rootResizable/
  Label rootSemanticUI PRs: any of: ^rootSemanticUI/
  Label rootTable PRs: any of: ^rootTable/
  Label rootTanstackTable PRs: any of: ^rootTanstackTable/
  Label rootTree PRs: any of: ^rootTree/
  Label rootVirtuoso PRs: any of: ^rootVirtuoso/
  Label semantic-ui PRs: any of: ^semantic-ui/
  Label semantic-ui-demo PRs: any of: ^semantic-ui-demo/
  Label table PRs: any of: ^table/
  Label table-demo PRs: any of: ^table-demo/
  Label tanstack-table PRs: any of: ^tanstack-table/
  Label tanstack-table-demo PRs: any of: ^tanstack-table-demo/
  Label test PRs: any of: ^test/
  Label tree PRs: any of: ^tree/
  Label tree-demo PRs: any of: ^tree-demo/
  Label virtuoso PRs: any of: ^virtuoso/
  Label virtuoso-demo PRs: any of: ^virtuoso-demo/
