Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label cats PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootSemanticUI PRs, Label rootTable PRs, Label rootTree PRs, Label rootVirtuoso PRs, Label semantic-ui PRs, Label semantic-ui-demo PRs, Label table PRs, Label table-demo PRs, Label test PRs, Label tree PRs, Label tree-demo PRs, Label virtuoso PRs, Label virtuoso-demo PRs

Label beautiful-dnd PRs:
  label:
    add:
    - beautiful-dnd
    remove: []

Label beautiful-dnd-demo PRs:
  label:
    add:
    - beautiful-dnd-demo
    remove: []

Label cats PRs:
  label:
    add:
    - cats
    remove: []

Label clipboard PRs:
  label:
    add:
    - clipboard
    remove: []

Label common PRs:
  label:
    add:
    - common
    remove: []

Label datepicker PRs:
  label:
    add:
    - datepicker
    remove: []

Label datepicker-demo PRs:
  label:
    add:
    - datepicker-demo
    remove: []

Label draggable PRs:
  label:
    add:
    - draggable
    remove: []

Label grid-layout PRs:
  label:
    add:
    - grid-layout
    remove: []

Label grid-layout-demo PRs:
  label:
    add:
    - grid-layout-demo
    remove: []

Label highcharts PRs:
  label:
    add:
    - highcharts
    remove: []

Label highcharts-demo PRs:
  label:
    add:
    - highcharts-demo
    remove: []

Label rootBeautifulDnd PRs:
  label:
    add:
    - rootBeautifulDnd
    remove: []

Label rootClipboard PRs:
  label:
    add:
    - rootClipboard
    remove: []

Label rootCore PRs:
  label:
    add:
    - rootCore
    remove: []

Label rootDatepicker PRs:
  label:
    add:
    - rootDatepicker
    remove: []

Label rootDraggable PRs:
  label:
    add:
    - rootDraggable
    remove: []

Label rootGridLayout PRs:
  label:
    add:
    - rootGridLayout
    remove: []

Label rootHighcharts PRs:
  label:
    add:
    - rootHighcharts
    remove: []

Label rootSemanticUI PRs:
  label:
    add:
    - rootSemanticUI
    remove: []

Label rootTable PRs:
  label:
    add:
    - rootTable
    remove: []

Label rootTree PRs:
  label:
    add:
    - rootTree
    remove: []

Label rootVirtuoso PRs:
  label:
    add:
    - rootVirtuoso
    remove: []

Label semantic-ui PRs:
  label:
    add:
    - semantic-ui
    remove: []

Label semantic-ui-demo PRs:
  label:
    add:
    - semantic-ui-demo
    remove: []

Label table PRs:
  label:
    add:
    - table
    remove: []

Label table-demo PRs:
  label:
    add:
    - table-demo
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

Label tree PRs:
  label:
    add:
    - tree
    remove: []

Label tree-demo PRs:
  label:
    add:
    - tree-demo
    remove: []

Label virtuoso PRs:
  label:
    add:
    - virtuoso
    remove: []

Label virtuoso-demo PRs:
  label:
    add:
    - virtuoso-demo
    remove: []

try fixing
  circular-progressbar/src/webpack/test.webpack.config.js
  clipboard/src/webpack/test.webpack.config.js
  datepicker/src/webpack/test.webpack.config.js
  moon/src/webpack/test.webpack.config.js
  test/src/webpack/test.webpack.config.js
Due: Label clipboard PRs, Label datepicker PRs, Label test PRs

lockfiles
  datepicker/yarn.lock
  highcharts/yarn.lock
  prime-react/yarn.lock
  table/yarn.lock
  tanstack-table/yarn.lock
Due: Label datepicker PRs, Label highcharts PRs, Label table PRs

bump base version
  build.sbt
Due: none

mergify
  .mergify.yml
Due: none

mergify generate
  .mergify.yml
Due: none

workflow generate
  .github/workflows/ci.yml
Due: none

Use react-moon fork
  moon/src/main/scala/react/moon/MoonPhase.scala
  package.json
Due: none

Add primereact theme css, move some styles to lucuma-ui
  prime-react/src/main/resources/lucuma-css/dark-theme.css
  prime-react/src/main/resources/lucuma-css/light-theme.css
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
Due: none

Add some usability meta-facades for primereact
  build.sbt
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/Dropdown.scala
  prime-react/src/main/scala/react/primereact/InputText.scala
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
  prime-react/src/main/scala/react/primereact/SelectItem.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Due: none

scalafixAll
  prime-react/src/main/scala/react/primereact/Button.scala
Due: none

Make facades full FnComponents and move theme.css to lucuma-ui
  prime-react/src/main/resources/lucuma-css/dark-theme.css
  prime-react/src/main/resources/lucuma-css/light-theme.css
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/Dropdown.scala
  prime-react/src/main/scala/react/primereact/InputText.scala
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Due: none

Add some usability meta-facades for primereact (#165)
  build.sbt
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/Dropdown.scala
  prime-react/src/main/scala/react/primereact/InputText.scala
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
  prime-react/src/main/scala/react/primereact/SelectItem.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Due: none

Bump base version
  build.sbt
Due: none

Expose some virtualized options in tables
  tanstack-table-demo/src/main/scala/react/table/demo/Table2.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table3.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: none

better naming
  tanstack-table-demo/src/main/scala/react/table/demo/Table2.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table3.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: none

bump tlbaseversion
  build.sbt
Due: none

add sortable indicator to tanstack columns
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: none

update lockfiles
  beautiful-dnd/yarn.lock
  build.sbt
  circular-progressbar/yarn.lock
  clipboard/yarn.lock
  datepicker/package.json
  datepicker/yarn.lock
  draggable/yarn.lock
  floatingui/yarn.lock
  grid-layout/yarn.lock
  highcharts/package.json
  highcharts/yarn.lock
  hotkeys/yarn.lock
  moon/yarn.lock
  prime-react/yarn.lock
  resizable/yarn.lock
  semantic-ui/yarn.lock
  table/yarn.lock
  tanstack-table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
Due: Label beautiful-dnd PRs, Label clipboard PRs, Label datepicker PRs, Label draggable PRs, Label grid-layout PRs, Label highcharts PRs, Label semantic-ui PRs, Label table PRs, Label test PRs, Label tree PRs, Label virtuoso PRs

Fix test
  moon/src/test/scala/react/moon/MoonPhaseSuite.scala
  package.json
Due: none

flesh out table facade
  tanstack-table-demo/src/main/scala/react/table/demo/Table1.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table2.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table3.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/HooksApiExt.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/VirtualHook.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/VirtualOptions.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/facade/VirtualOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/facade/Virtualizer.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/package.scala
Due: none

sort
  tanstack-table/src/main/scala/lucuma/react/table/BuiltInSorting.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
Due: none

sortUndefined, emptyMessage class
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/UndefinedPriority.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/package.scala
Due: none

Convert Css to an opaque type
  common/src/main/scala/react/common/style/package.scala
Due: Label common PRs

Enable implicit conversions in demo
  build.sbt
Due: none

Remove StyleSyntax trait
  common/src/main/scala/react/common/style/package.scala
  common/src/main/scala/react/common/syntax/package.scala
  highcharts/src/main/scala/react/highcharts/ResizingChart.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormGroup.scala
  semantic-ui/src/main/scala/react/semanticui/collections/grid/GridRow.scala
  semantic-ui/src/main/scala/react/semanticui/modules/popup/Popup.scala
  test/src/test/scala/react/common/StyleSuite.scala
Due: Label common PRs, Label highcharts PRs, Label semantic-ui PRs, Label test PRs

Scalafix
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormGroup.scala
  semantic-ui/src/main/scala/react/semanticui/collections/grid/GridRow.scala
  semantic-ui/src/main/scala/react/semanticui/modules/popup/Popup.scala
Due: Label semantic-ui PRs

Update binary version
  build.sbt
Due: none

Make style an opaque type
  common/src/main/scala/react/common/style/package.scala
  common/src/test/scala/react/common/arb/ArbStyle.scala
  grid-layout/src/main/scala/react/gridlayout/BaseProps.scala
Due: Label common PRs, Label grid-layout PRs

Remove FontAwesome from the primereact demo
  .npmrc
  package-lock.json
  package.json
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react-demo/src/main/scala/react/table/demo/Icons.scala
  yarn.lock
Due: none

Fix Dialog, add Knob
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/ConfirmDialog.scala
  prime-react/src/main/scala/react/primereact/Knob.scala
  prime-react/src/main/scala/react/primereact/Slider.scala
Due: none

Add Accordion, ConfirmDialog and ConfirmPopup
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/Accordion.scala
  prime-react/src/main/scala/react/primereact/AccordionBase.scala
  prime-react/src/main/scala/react/primereact/AccordionMultiple.scala
  prime-react/src/main/scala/react/primereact/AccordionTab.scala
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/ConfirmDialog.scala
  prime-react/src/main/scala/react/primereact/ConfirmPopup.scala
  prime-react/src/main/scala/react/primereact/Dialog.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Due: none

Fix Accordion, add Sidebar, add kittens to build, derive Eq for Enums
  build.sbt
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/AccordionBase.scala
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/Dialog.scala
  prime-react/src/main/scala/react/primereact/Divider.scala
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
  prime-react/src/main/scala/react/primereact/SelectItem.scala
  prime-react/src/main/scala/react/primereact/Sidebar.scala
  prime-react/src/main/scala/react/primereact/Tag.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Due: none

Add Toolbar
  prime-react-demo/src/main/scala/react/table/demo/Demo.scala
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/Toolbar.scala
Due: none

Remove ability to set CSS classes with bare Strings
  prime-react/src/main/scala/react/primereact/AccordionBase.scala
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/Card.scala
  prime-react/src/main/scala/react/primereact/Checkbox.scala
  prime-react/src/main/scala/react/primereact/ConfirmDialog.scala
  prime-react/src/main/scala/react/primereact/ConfirmPopup.scala
  prime-react/src/main/scala/react/primereact/Divider.scala
  prime-react/src/main/scala/react/primereact/Dropdown.scala
  prime-react/src/main/scala/react/primereact/DropdownBase.scala
  prime-react/src/main/scala/react/primereact/DropdownOptional.scala
  prime-react/src/main/scala/react/primereact/InputSwitch.scala
  prime-react/src/main/scala/react/primereact/InputText.scala
  prime-react/src/main/scala/react/primereact/InputTextarea.scala
  prime-react/src/main/scala/react/primereact/Knob.scala
  prime-react/src/main/scala/react/primereact/Panel.scala
  prime-react/src/main/scala/react/primereact/ProgressBar.scala
  prime-react/src/main/scala/react/primereact/SelectButton.scala
  prime-react/src/main/scala/react/primereact/SelectButtonBase.scala
  prime-react/src/main/scala/react/primereact/SelectButtonMultiple.scala
  prime-react/src/main/scala/react/primereact/SelectButtonOptional.scala
  prime-react/src/main/scala/react/primereact/SelectItem.scala
  prime-react/src/main/scala/react/primereact/Slider.scala
  prime-react/src/main/scala/react/primereact/SliderRange.scala
  prime-react/src/main/scala/react/primereact/Splitter.scala
  prime-react/src/main/scala/react/primereact/SplitterPanel.scala
  prime-react/src/main/scala/react/primereact/Tag.scala
Due: none

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label cats PRs: any of: ^cats/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootSemanticUI PRs: any of: ^rootSemanticUI/
  Label rootTable PRs: any of: ^rootTable/
  Label rootTree PRs: any of: ^rootTree/
  Label rootVirtuoso PRs: any of: ^rootVirtuoso/
  Label semantic-ui PRs: any of: ^semantic-ui/
  Label semantic-ui-demo PRs: any of: ^semantic-ui-demo/
  Label table PRs: any of: ^table/
  Label table-demo PRs: any of: ^table-demo/
  Label test PRs: any of: ^test/
  Label tree PRs: any of: ^tree/
  Label tree-demo PRs: any of: ^tree-demo/
  Label virtuoso PRs: any of: ^virtuoso/
  Label virtuoso-demo PRs: any of: ^virtuoso-demo/
