Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label cats PRs, Label clipboard PRs, Label common PRs, Label draggable PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label test PRs

Label cats PRs:
  label:
    add:
    - cats
    remove: []

Label clipboard PRs:
  label:
    add:
    - clipboard
    remove: []

Label common PRs:
  label:
    add:
    - common
    remove: []

Label draggable PRs:
  label:
    add:
    - draggable
    remove: []

Label grid-layout PRs:
  label:
    add:
    - grid-layout
    remove: []

Label grid-layout-demo PRs:
  label:
    add:
    - grid-layout-demo
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

Regenerate mergify
  .mergify.yml
Due: none

Update lockfiles
  clipboard/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  svgdotjs/yarn.lock
  table/yarn.lock
  test/yarn.lock
  virtuoso/yarn.lock
Due: Label clipboard PRs, Label draggable PRs, Label grid-layout PRs, Label test PRs

Update lockfiles again?
  svgdotjs/yarn.lock
  table/yarn.lock
Due: none

Add jvmopts
  .jvmopts
Due: none

Spinning a yarn ...
  clipboard/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  package.json
  svgdotjs/yarn.lock
  table/yarn.lock
  test/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label clipboard PRs, Label draggable PRs, Label grid-layout PRs, Label test PRs

Try again
  svgdotjs/yarn.lock
  table/yarn.lock
  yarn.lock
Due: none

Replace/remove JsNumber
  cats/src/main/scala/react/common/implicits/package.scala
  cats/src/test/scala/react/common/arb/ArbJsNumber.scala
  cats/src/test/scala/react/common/arb/ArbSize.scala
  cats/src/test/scala/react/common/arb/package.scala
  cats/src/test/scala/react/common/implicits/ReactCatsSuite.scala
  common/src/main/scala/react/common/size.scala
Due: Label cats PRs, Label common PRs

Try again
  package.json
  svgdotjs/yarn.lock
  table/yarn.lock
Due: none

Remove remaining JsNumber stuff
  common/src/main/scala/react/common/syntax/package.scala
Due: Label common PRs

JsNumber -> Double
  draggable/src/main/scala/react/draggable/Draggable.scala
  draggable/src/main/scala/react/draggable/package.scala
  grid-layout-demo/src/main/scala/ResizeDetector.scala
  grid-layout-demo/src/main/scala/react/resize.scala
  grid-layout/src/main/scala/react/gridlayout/BaseProps.scala
  grid-layout/src/main/scala/react/gridlayout/ReactGridLayout.scala
  virtuoso/src/main/scala/react/virtuoso/GroupedVirtuoso.scala
  virtuoso/src/main/scala/react/virtuoso/Virtuoso.scala
Due: Label draggable PRs, Label grid-layout PRs, Label grid-layout-demo PRs

Fix compile
  grid-layout/src/main/scala/react/gridlayout/ResponsiveReactGridLayout.scala
Due: Label grid-layout PRs

Tweak Double -> Int in virtuoso facade
  virtuoso/src/main/scala/react/virtuoso/GroupedVirtuoso.scala
  virtuoso/src/main/scala/react/virtuoso/Virtuoso.scala
Due: none

Formatting
  draggable/src/main/scala/react/draggable/package.scala
Due: Label draggable PRs

Setup nix
  .envrc
  .gitignore
  default.nix
  nix/ci.nix
  nix/config.nix
  nix/docker.nix
  nix/pinned.nix
  nix/pkgs.nix
  nix/sbt.nix
  shell.nix
Due: none

Switch to flake
  .envrc
  flake.lock
  flake.nix
  shell.nix
Due: none

Clean out and update all the locks
  clipboard/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  package.json
  svgdotjs/yarn.lock
  table/yarn.lock
  test/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Due: Label clipboard PRs, Label draggable PRs, Label grid-layout PRs, Label test PRs

Update common to 0.15.0
  build.sbt
Due: none

Name all the modules
  build.sbt
Due: none

Import highcharts
  build.sbt
  highcharts-demo/src/main/scala/react/highcharts/demo/Demo.scala
  highcharts-demo/src/main/webapp/index.html
  highcharts-demo/src/main/webapp/main.jsx
  highcharts-demo/src/main/webapp/styles.css
  highcharts-demo/vite.config.js
  highcharts/package.json
  highcharts/src/main/scala/react/highcharts/Chart.scala
  highcharts/src/main/scala/react/highcharts/TooltipOptionsWithPositioner.scala
  highcharts/src/main/scala/react/highcharts/implicits.scala
  highcharts/src/main/scala/react/highcharts/mods/seriesLabel/SeriesLabelPoint.scala
  highcharts/src/main/scala/react/highcharts/mods/seriesLabel/SeriesLabelSeries.scala
  highcharts/src/main/scala/react/highcharts/mods/seriesLabel/package.scala
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
  highcharts/src/webpack/test.webpack.config.js
  highcharts/yarn.lock
  package.json
  yarn.lock
Due: none

Update the lockfiles
  clipboard/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  svgdotjs/yarn.lock
  table/yarn.lock
  test/yarn.lock
  virtuoso/yarn.lock
Due: Label clipboard PRs, Label draggable PRs, Label grid-layout PRs, Label test PRs

Update mergify config
  .mergify.yml
Due: none

Add highcharts to root
  build.sbt
Due: none

Formatting
  highcharts/src/main/scala/react/highcharts/Chart.scala
Due: none

Update common to 0.16.0
  build.sbt
Due: none

Import datepicker
  build.sbt
  datepicker-demo/src/main/scala/react/datepicker/demo/Demo.scala
  datepicker-demo/src/main/webapp/index.html
  datepicker-demo/src/main/webapp/main.jsx
  datepicker-demo/src/main/webapp/styles.css
  datepicker-demo/vite.config.js
  datepicker-demo/yarn.lock
  datepicker/package.json
  datepicker/src/main/scala/react/datepicker/Datepicker.scala
  datepicker/src/main/scala/react/datepicker/package.scala
  datepicker/src/webpack/test.webpack.config.js
  datepicker/yarn.lock
  package.json
  yarn.lock
Due: none

Update lockfiles
  clipboard/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  svgdotjs/yarn.lock
  table/yarn.lock
  test/yarn.lock
  virtuoso/yarn.lock
Due: Label clipboard PRs, Label draggable PRs, Label grid-layout PRs, Label test PRs

Update mergify
  .mergify.yml
Due: none

[ci skip] update vite config
  grid-layout-demo/vite.config.js
Due: Label grid-layout-demo PRs

Import beatiful-dnd, tree
  beautiful-dnd-demo/src/main/scala/react/beautifuldnd/demo/BeautifulDnDDemo.scala
  beautiful-dnd-demo/src/main/webapp/index.html
  beautiful-dnd-demo/src/main/webapp/main.jsx
  beautiful-dnd-demo/src/main/webapp/styles.css
  beautiful-dnd-demo/vite.config.js
  beautiful-dnd/src/main/scala/react/beautifuldnd/DragDropContext.scala
  beautiful-dnd/src/main/scala/react/beautifuldnd/Draggable.scala
  beautiful-dnd/src/main/scala/react/beautifuldnd/Droppable.scala
  beautiful-dnd/src/main/scala/react/beautifuldnd/StructuresJS.scala
  beautiful-dnd/src/main/scala/react/beautifuldnd/package.scala
  build.sbt
  package.json
  tree-demo/src/main/scala/react/atlasKit/tree/demo/TreeDemo.scala
  tree-demo/src/main/scala/react/atlasKit/tree/demo/package.scala
  tree-demo/src/main/webapp/index.html
  tree-demo/src/main/webapp/main.jsx
  tree-demo/src/main/webapp/styles.css
  tree-demo/vite.config.js
  tree/src/main/scala/react/atlasKit/tree/Tree.scala
  yarn.lock
Due: none

Regenerate stuff
  .mergify.yml
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  svgdotjs/yarn.lock
  table/yarn.lock
  test/yarn.lock
  virtuoso/yarn.lock
Due: Label clipboard PRs, Label draggable PRs, Label grid-layout PRs, Label test PRs

Formatting
  tree/src/main/scala/react/atlasKit/tree/Tree.scala
Due: none

Add missing files
  beautiful-dnd/src/webpack/test.webpack.config.js
  beautiful-dnd/yarn.lock
  tree/src/webpack/test.webpack.config.js
  tree/yarn.lock
Due: none

[ci skip] Update readme
  README.md
Due: none

Fix datepicker module name
  build.sbt
Due: none

Don't use JsNumber
  build.sbt
  demo/src/main/scala/react/draggable/demo/Demo.scala
  facade/src/main/scala/react/resizable/Resizable.scala
  project/build.properties
Due: none

Reformat
  facade/src/main/scala/react/resizable/Resizable.scala
Due: none

Don't use JsNumber
  build.sbt
  demo/src/main/scala/ResizeDetector.scala
  demo/src/main/scala/react/gridlayout/Demo.scala
  demo/src/main/scala/react/resize.scala
  facade/src/main/scala/react/gridlayout/BaseProps.scala
  facade/src/main/scala/react/gridlayout/ReactGridLayout.scala
  facade/src/main/scala/react/gridlayout/ResponsiveReactGridLayout.scala
Due: none

Update pprint to 0.7.3
  build.sbt
Due: none

Path conditions:
  Label cats PRs: any of: ^cats/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label draggable PRs: any of: ^draggable/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label test PRs: any of: ^test/
