Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label circular-progressbar PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label font-awesome PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label hotkeys PRs, Label hotkeys-demo PRs, Label moon PRs, Label prime-react PRs, Label prime-react-demo PRs, Label resizable PRs, Label resizable-demo PRs, Label resize-detector PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootHotkeys PRs, Label rootPrimeReact PRs, Label rootResizable PRs, Label rootSemanticUI PRs, Label rootTable PRs, Label rootTanstackTable PRs, Label rootTree PRs, Label rootVirtuoso PRs, Label semantic-ui PRs, Label semantic-ui-demo PRs, Label table PRs, Label table-demo PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs, Label test PRs, Label tree PRs, Label tree-demo PRs, Label virtuoso PRs, Label virtuoso-demo PRs

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label circular-progressbar PRs: any of: ^circular-progressbar/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label font-awesome PRs: any of: ^font-awesome/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label hotkeys PRs: any of: ^hotkeys/
  Label hotkeys-demo PRs: any of: ^hotkeys-demo/
  Label moon PRs: any of: ^moon/
  Label prime-react PRs: any of: ^prime-react/
  Label prime-react-demo PRs: any of: ^prime-react-demo/
  Label resizable PRs: any of: ^resizable/
  Label resizable-demo PRs: any of: ^resizable-demo/
  Label resize-detector PRs: any of: ^resize-detector/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootHotkeys PRs: any of: ^rootHotkeys/
  Label rootPrimeReact PRs: any of: ^rootPrimeReact/
  Label rootResizable PRs: any of: ^rootResizable/
  Label rootSemanticUI PRs: any of: ^rootSemanticUI/
  Label rootTable PRs: any of: ^rootTable/
  Label rootTanstackTable PRs: any of: ^rootTanstackTable/
  Label rootTree PRs: any of: ^rootTree/
  Label rootVirtuoso PRs: any of: ^rootVirtuoso/
  Label semantic-ui PRs: any of: ^semantic-ui/
  Label semantic-ui-demo PRs: any of: ^semantic-ui-demo/
  Label table PRs: any of: ^table/
  Label table-demo PRs: any of: ^table-demo/
  Label tanstack-table PRs: any of: ^tanstack-table/
  Label tanstack-table-demo PRs: any of: ^tanstack-table-demo/
  Label test PRs: any of: ^test/
  Label tree PRs: any of: ^tree/
  Label tree-demo PRs: any of: ^tree-demo/
  Label virtuoso PRs: any of: ^virtuoso/
  Label virtuoso-demo PRs: any of: ^virtuoso-demo/

fix, finally
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/package.scala
Due: Label tanstack-table PRs

scalafix
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs

libs, scalac updates
  .github/workflows/ci.yml
  .mergify.yml
  beautiful-dnd-demo/vite.config.js
  beautiful-dnd/yarn.lock
  build.sbt
  circular-progressbar/yarn.lock
  clipboard/yarn.lock
  datepicker-demo/vite.config.js
  datepicker/package.json
  datepicker/yarn.lock
  draggable/yarn.lock
  floatingui/yarn.lock
  grid-layout-demo/vite.config.js
  grid-layout/yarn.lock
  highcharts-demo/src/main/scala/react/highcharts/demo/Demo.scala
  highcharts-demo/vite.config.js
  highcharts/package.json
  highcharts/yarn.lock
  hotkeys-demo/vite.config.js
  hotkeys/yarn.lock
  moon/yarn.lock
  package.json
  prime-react-demo/vite.config.js
  prime-react/yarn.lock
  resizable-demo/vite.config.js
  resizable/yarn.lock
  semantic-ui-demo/vite.config.js
  semantic-ui/yarn.lock
  tanstack-table-demo/vite.config.js
  tanstack-table/package-lock.json
  tanstack-table/package.json
  tanstack-table/src/main/scala/lucuma/react/virtual/facade/Virtualizer.scala
  tanstack-table/yarn.lock
  test/yarn.lock
  tree-demo/vite.config.js
  tree/yarn.lock
  yarn.lock
Due: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label circular-progressbar PRs, Label clipboard PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label hotkeys PRs, Label hotkeys-demo PRs, Label moon PRs, Label prime-react PRs, Label prime-react-demo PRs, Label resizable PRs, Label resizable-demo PRs, Label semantic-ui PRs, Label semantic-ui-demo PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs, Label test PRs, Label tree PRs, Label tree-demo PRs

revert previous virtualizer fix, bump base version
  build.sbt
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs

Remove unused constraints on RadioButton
  build.sbt
  prime-react/src/main/scala/react/primereact/RadioButton.scala
Due: Label prime-react PRs

Fix compile
  build.sbt
  prime-react/src/main/scala/react/primereact/AccordionBase.scala
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/ConfirmDialog.scala
  prime-react/src/main/scala/react/primereact/ConfirmPopup.scala
  prime-react/src/main/scala/react/primereact/Dialog.scala
  prime-react/src/main/scala/react/primereact/SelectButtonBase.scala
  prime-react/src/main/scala/react/primereact/SelectItem.scala
  prime-react/src/main/scala/react/primereact/TabView.scala
  prime-react/src/main/scala/react/primereact/ToggleButton.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Due: Label prime-react PRs

Fix datepicker demo
  datepicker-demo/src/main/scala/react/datepicker/demo/Demo.scala
Due: Label datepicker-demo PRs

Scalafix
  prime-react/src/main/scala/react/primereact/AccordionBase.scala
Due: Label prime-react PRs

Add `onFocus` to InputText.
  prime-react-demo/src/main/scala/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/react/primereact/InputText.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

More additions to table facade
  build.sbt
  package.json
  tanstack-table/package.json
  tanstack-table/src/main/scala/lucuma/react/SizePx.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/PartialTableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
  tanstack-table/yarn.lock
Due: Label tanstack-table PRs

Table: make even/odd classes not depend on sorting
  package.json
  tanstack-table-demo/src/main/scala/react/table/demo/Table2.scala
  tanstack-table-demo/src/main/webapp/style.scss
  tanstack-table/package.json
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/package.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

bump base version
  build.sbt
Due: none

Bump base ver
  build.sbt
Due: none

table subcomponents
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label tanstack-table PRs

Add tooltips to more primereact components
  build.sbt
  prime-react-demo/src/main/scala/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/react/primereact/Checkbox.scala
  prime-react/src/main/scala/react/primereact/Dropdown.scala
  prime-react/src/main/scala/react/primereact/DropdownBase.scala
  prime-react/src/main/scala/react/primereact/DropdownOptional.scala
  prime-react/src/main/scala/react/primereact/InputSwitch.scala
  prime-react/src/main/scala/react/primereact/InputText.scala
  prime-react/src/main/scala/react/primereact/InputTextarea.scala
  prime-react/src/main/scala/react/primereact/RadioButton.scala
  prime-react/src/main/scala/react/primereact/SelectButton.scala
  prime-react/src/main/scala/react/primereact/SelectButtonBase.scala
  prime-react/src/main/scala/react/primereact/SelectButtonMultiple.scala
  prime-react/src/main/scala/react/primereact/SelectButtonOptional.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Add CSS for Button Sets
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
Due: Label prime-react PRs

Review comments, fix `Dropdown.onChangeE`
  prime-react/src/main/scala/react/primereact/Checkbox.scala
  prime-react/src/main/scala/react/primereact/Dropdown.scala
  prime-react/src/main/scala/react/primereact/DropdownBase.scala
  prime-react/src/main/scala/react/primereact/DropdownOptional.scala
  prime-react/src/main/scala/react/primereact/InputSwitch.scala
Due: Label prime-react PRs

Add CSS class to MenuItem icons.
  build.sbt
  prime-react/src/main/scala/react/primereact/MenuItem.scala
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
Due: Label prime-react PRs

Add PopupTieredMenu
  prime-react/src/main/scala/react/primereact/PopupTieredMenu.scala
Due: Label prime-react PRs

Add Image and allow use as icon
  build.sbt
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/ConfirmPopup.scala
  prime-react/src/main/scala/react/primereact/Image.scala
  prime-react/src/main/scala/react/primereact/MenuItem.scala
  prime-react/src/main/scala/react/primereact/Message.scala
  prime-react/src/main/scala/react/primereact/MessageItem.scala
  prime-react/src/main/scala/react/primereact/Tag.scala
  prime-react/src/main/scala/react/primereact/ToggleButton.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Due: Label prime-react PRs

Avoid passthrough properties in InputTextarea
  prime-react-demo/src/main/scala/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/react/primereact/InputTextarea.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

bump version
  build.sbt
Due: none

Add custom menu item.
  build.sbt
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react-demo/src/main/webapp/styles.scss
  prime-react/src/main/scala/react/primereact/MenuItem.scala
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

MultiSelect
  prime-react-demo/src/main/scala/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/react/primereact/MultiSelect.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Add grouping to MultiSelects.
  build.sbt
  prime-react-demo/src/main/scala/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/react/primereact/DropdownBase.scala
  prime-react/src/main/scala/react/primereact/MultiSelect.scala
  prime-react/src/main/scala/react/primereact/SelectItem.scala
  prime-react/src/main/scala/react/primereact/SelectItemGroup.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Update github actions
  .github/workflows/ci.yml
  .mergify.yml
Due: none

chips
  prime-react-demo/src/main/scala/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/react/primereact/Chips.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

fix comments
  prime-react/src/main/scala/react/primereact/Chips.scala
Due: Label prime-react PRs

Fix table `emptyMessage`
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs

Bump, fix
  build.sbt
  prime-react/src/main/scala/react/primereact/AccordionBase.scala
Due: Label prime-react PRs

More fixes
  tanstack-table/src/main/scala/lucuma/react/table/RowSelection.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/Updater.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
Due: Label tanstack-table PRs

Defuse bomb
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
Due: Label tanstack-table PRs

Bump lucuma-typed
  build.sbt
Due: none

Fix Accordion
  prime-react/src/main/scala/react/primereact/Accordion.scala
  prime-react/src/main/scala/react/primereact/AccordionBase.scala
  prime-react/src/main/scala/react/primereact/AccordionMultiple.scala
Due: Label prime-react PRs

Formatting
  prime-react/src/main/scala/react/primereact/ConfirmPopup.scala
  prime-react/src/main/scala/react/primereact/InputSwitch.scala
  tanstack-table/src/main/scala/lucuma/react/table/Cell.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnOrder.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizing.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSort.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnVisibility.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowSelection.scala
  tanstack-table/src/main/scala/lucuma/react/table/Sorting.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
Due: Label prime-react PRs, Label tanstack-table PRs

Bump base version
  build.sbt
Due: none

Stable lucuma-typed
  build.sbt
Due: none

Formatting
  project/plugins.sbt
Due: none
