Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label circular-progressbar PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label floatingui PRs, Label font-awesome PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label hotkeys PRs, Label hotkeys-demo PRs, Label markdown PRs, Label moon PRs, Label prime-react PRs, Label prime-react-demo PRs, Label resizable PRs, Label resizable-demo PRs, Label resize-detector PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootFloatingui PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootHotkeys PRs, Label rootPrimeReact PRs, Label rootResizable PRs, Label rootTanstackTable PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs, Label test PRs

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label circular-progressbar PRs: any of: ^circular-progressbar/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label floatingui PRs: any of: ^floatingui/
  Label font-awesome PRs: any of: ^font-awesome/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label hotkeys PRs: any of: ^hotkeys/
  Label hotkeys-demo PRs: any of: ^hotkeys-demo/
  Label markdown PRs: any of: ^markdown/
  Label moon PRs: any of: ^moon/
  Label prime-react PRs: any of: ^prime-react/
  Label prime-react-demo PRs: any of: ^prime-react-demo/
  Label resizable PRs: any of: ^resizable/
  Label resizable-demo PRs: any of: ^resizable-demo/
  Label resize-detector PRs: any of: ^resize-detector/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootFloatingui PRs: any of: ^rootFloatingui/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootHotkeys PRs: any of: ^rootHotkeys/
  Label rootPrimeReact PRs: any of: ^rootPrimeReact/
  Label rootResizable PRs: any of: ^rootResizable/
  Label rootTanstackTable PRs: any of: ^rootTanstackTable/
  Label tanstack-table PRs: any of: ^tanstack-table/
  Label tanstack-table-demo PRs: any of: ^tanstack-table-demo/
  Label test PRs: any of: ^test/

Update base version
  build.sbt
Due: none

fix attribute and style conversions in FA facade
  font-awesome/src/main/scala/lucuma/react/fa/interop.scala
Due: Label font-awesome PRs

add ability to remove toast
  build.sbt
  prime-react/src/main/scala/lucuma/react/primereact/Toast.scala
Due: Label prime-react PRs

Add syntax for optional tooltips.
  floatingui/src/main/scala/lucuma/react/floatingui/syntax.scala
Due: Label floatingui PRs

Add drag'n'drop facade for primereact/tree
  prime-react-demo/src/main/scala/lucuma/react/table/demo/TreeDemo.scala
  prime-react/src/main/scala/lucuma/react/primereact/Tree.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Formatting
  prime-react-demo/src/main/scala/lucuma/react/table/demo/TreeDemo.scala
Due: Label prime-react-demo PRs

Review comments
  floatingui/src/main/scala/lucuma/react/floatingui/syntax.scala
Due: Label floatingui PRs

fix remove on toast and implement on messages
  package-lock.json
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/lucuma/react/primereact/Messages.scala
  prime-react/src/main/scala/lucuma/react/primereact/Toast.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

bump base version
  build.sbt
Due: none

Implement InputGroup
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/InputGroup.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

accept layered icons in prime controls
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/InputGroup.scala
  prime-react/src/main/scala/lucuma/react/primereact/primereact.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Revert "Bump react-resize-detector from 9.1.0 to 9.1.1"
  package-lock.json
  package.json
Due: none

Add resize-detector demo and revert back to ^8.1.0
  .mergify.yml
  beautiful-dnd-demo/vite.config.js
  build.sbt
  font-awesome-demo/vite.config.js
  grid-layout-demo/vite.config.js
  highcharts-demo/vite.config.js
  hotkeys-demo/vite.config.js
  package-lock.json
  package.json
  prime-react-demo/vite.config.js
  resizable-demo/vite.config.js
  resize-detector-demo/src/main/scala/lucuma/react/resizeDetector/demo/ComponentDemo.scala
  resize-detector-demo/src/main/scala/lucuma/react/resizeDetector/demo/Demo.scala
  resize-detector-demo/src/main/scala/lucuma/react/resizeDetector/demo/HookDemo.scala
  resize-detector-demo/src/main/webapp/index.html
  resize-detector-demo/src/main/webapp/main.jsx
  resize-detector-demo/src/main/webapp/styles.css
  resize-detector-demo/vite.config.js
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
  tanstack-table-demo/vite.config.js
Due: Label beautiful-dnd-demo PRs, Label grid-layout-demo PRs, Label highcharts-demo PRs, Label hotkeys-demo PRs, Label prime-react-demo PRs, Label resizable-demo PRs, Label resize-detector PRs, Label tanstack-table-demo PRs

update tlBaseVersion
  build.sbt
Due: none

Update resize-detector-demo styles.css
  resize-detector-demo/src/main/webapp/styles.css
Due: none

Remove resize-detector component in favour of hooks
  package-lock.json
  package.json
  resize-detector-demo/src/main/scala/lucuma/react/resizeDetector/demo/ComponentDemo.scala
  resize-detector-demo/src/main/scala/lucuma/react/resizeDetector/demo/Demo.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/ResizeDetector.scala
Due: Label resize-detector PRs

Update to react 18
  beautiful-dnd-demo/src/main/scala/lucuma/react/beautifuldnd/demo/BeautifulDnDDemo.scala
  build.sbt
  datepicker-demo/src/main/scala/lucuma/react/datepicker/demo/Demo.scala
  draggable/src/test/scala/react/draggable/DraggableTests.scala
  font-awesome-demo/src/main/scala/lucuma/react/fa/demo/DemoMain.scala
  grid-layout-demo/src/main/scala/lucuma/react/gridlayout/Demo.scala
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
  highcharts-demo/src/main/scala/lucuma/react/highcharts/demo/Demo.scala
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
  hotkeys-demo/src/main/scala/lucuma/react/hotkeys/demo/DemoMain.scala
  package-lock.json
  package.json
  prime-react-demo/src/main/scala/lucuma/react/table/demo/Demo.scala
  resizable-demo/src/main/scala/lucuma/react/draggable/demo/Demo.scala
  resize-detector-demo/src/main/scala/lucuma/react/resizeDetector/demo/Demo.scala
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Demo.scala
  test/src/test/scala/react/common/ReactFnPropsSuite.scala
  test/src/test/scala/react/common/ReactFnPropsWithChildrenSuite.scala
  test/src/test/scala/react/common/ReactPropsForwardRefSuite.scala
  test/src/test/scala/react/common/ReactPropsForwardRefWithChildrenSuite.scala
  test/src/test/scala/react/common/ReactPropsSuite.scala
  test/src/test/scala/react/common/ReactPropsWithChildrenSuite.scala
Due: Label beautiful-dnd-demo PRs, Label datepicker-demo PRs, Label draggable PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label hotkeys-demo PRs, Label prime-react-demo PRs, Label resizable-demo PRs, Label tanstack-table-demo PRs, Label test PRs

Update to sbt-lucuma 0.11.11
  .github/workflows/ci.yml
  build.sbt
  project/plugins.sbt
Due: none

Update ChartTest
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
Due: Label highcharts PRs

modernize react-common
  common/src/main/scala/lucuma/react/common/givens/package.scala
  common/src/main/scala/lucuma/react/common/jsComponents.scala
  common/src/main/scala/lucuma/react/common/package.scala
  common/src/main/scala/lucuma/react/common/scalaComponents.scala
  common/src/main/scala/lucuma/react/common/size.scala
  common/src/main/scala/lucuma/react/common/style/package.scala
  common/src/main/scala/lucuma/react/common/syntax/package.scala
  common/src/test/scala/lucuma/react/common/arb/ArbSize.scala
  common/src/test/scala/lucuma/react/common/arb/ArbStyle.scala
  common/src/test/scala/lucuma/react/common/arb/package.scala
  common/src/test/scala/lucuma/react/common/givens/ReactCatsSuite.scala
  draggable/src/main/scala/lucuma/react/draggable/Draggable.scala
  draggable/src/main/scala/lucuma/react/draggable/package.scala
  floatingui/src/main/scala/lucuma/react/floatingui/package.scala
  floatingui/src/main/scala/lucuma/react/floatingui/syntax.scala
  floatingui/src/test/scala/react/floatingui/TooltipSuite.scala
  grid-layout-demo/src/main/scala/lucuma/react/gridlayout/Demo.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/BaseProps.scala
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/ResizeDetector.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
  test/src/main/scala/lucuma/react/common/TestUtils.scala
  test/src/test/scala/react/common/CommonSuite.scala
  test/src/test/scala/react/common/ReactFnPropsSuite.scala
  test/src/test/scala/react/common/ReactFnPropsWithChildrenSuite.scala
  test/src/test/scala/react/common/ReactPropsForwardRefSuite.scala
  test/src/test/scala/react/common/ReactPropsForwardRefWithChildrenSuite.scala
  test/src/test/scala/react/common/ReactPropsSuite.scala
  test/src/test/scala/react/common/ReactPropsWithChildrenSuite.scala
  test/src/test/scala/react/common/StyleSuite.scala
Due: Label common PRs, Label draggable PRs, Label floatingui PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label resize-detector PRs, Label test PRs

remove unused import
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
Due: Label grid-layout PRs

bump scalajs-react
  build.sbt
Due: none

Handle case where onResize x or y is undefined
  resize-detector/src/main/scala/lucuma/react/resizeDetector/ResizeDetector.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
Due: Label resize-detector PRs

Add InputNumber
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/InputNumber.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Rewrite source 3.4 migration
  beautiful-dnd/src/main/scala/lucuma/react/beautifuldnd/DragDropContext.scala
  common/src/main/scala/lucuma/react/common/jsComponents.scala
  common/src/main/scala/lucuma/react/common/scalaComponents.scala
  datepicker/src/main/scala/lucuma/react/datepicker/Datepicker.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/package.scala
  highcharts-demo/src/main/scala/lucuma/react/highcharts/demo/Demo.scala
  prime-react/src/main/scala/lucuma/react/primereact/InputGroup.scala
  prime-react/src/main/scala/lucuma/react/primereact/Tree.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizing.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnVisibility.scala
  tanstack-table/src/main/scala/lucuma/react/table/Expanded.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowSelection.scala
Due: Label beautiful-dnd PRs, Label common PRs, Label datepicker PRs, Label grid-layout PRs, Label highcharts-demo PRs, Label prime-react PRs, Label tanstack-table PRs

Source migration
  common/src/main/scala/lucuma/react/common/givens/package.scala
Due: Label common PRs

Set displayName for ReactFnProps components
  build.sbt
  common/src/main/scala/lucuma/react/common/scalaComponents.scala
  prime-react/src/main/scala/lucuma/react/primereact/InputNumber.scala
  prime-react/src/main/scala/lucuma/react/primereact/Tree.scala
  resize-detector-demo/src/main/scala/lucuma/react/resizeDetector/demo/HookDemo.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
Due: Label common PRs, Label prime-react PRs, Label resize-detector PRs

Use default imports for resizable and grid-layout
  build.sbt
  grid-layout-demo/src/main/scala/lucuma/react/gridlayout/Demo.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/ReactGridLayout.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/ResponsiveReactGridLayout.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/package.scala
  resizable-demo/src/main/scala/lucuma/react/draggable/demo/Demo.scala
  resizable/src/main/scala/lucuma/react/resizable/Resizable.scala
Due: Label grid-layout PRs, Label grid-layout-demo PRs, Label resizable PRs, Label resizable-demo PRs

Support change events with a react event parameter
  prime-react/src/main/scala/lucuma/react/primereact/Checkbox.scala
Due: Label prime-react PRs

Allow onChange and onChangeE to run alongside
  prime-react/src/main/scala/lucuma/react/primereact/Checkbox.scala
Due: Label prime-react PRs

bump scalajs-react
  build.sbt
  common/src/main/scala/lucuma/react/common/scalaComponents.scala
Due: Label common PRs

Revert "Use default imports for resizable and grid-layout"
  build.sbt
  grid-layout-demo/src/main/scala/lucuma/react/gridlayout/Demo.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/ReactGridLayout.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/ResponsiveReactGridLayout.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/package.scala
  resizable-demo/src/main/scala/lucuma/react/draggable/demo/Demo.scala
  resizable/src/main/scala/lucuma/react/resizable/Resizable.scala
Due: Label grid-layout PRs, Label grid-layout-demo PRs, Label resizable PRs, Label resizable-demo PRs

Some PR comments
  grid-layout-demo/src/main/scala/lucuma/react/gridlayout/Demo.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/package.scala
  resizable-demo/src/main/scala/lucuma/react/draggable/demo/Demo.scala
Due: Label grid-layout PRs, Label grid-layout-demo PRs, Label resizable-demo PRs

Remove the clipboard facade
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  clipboard/src/main/scala/lucuma/react/clipboard/CopyToClipboard.scala
  clipboard/src/main/scala/lucuma/react/clipboard/package.scala
  clipboard/src/test/scala/react/clipboard/CopyToClipboardSuite.scala
  package.json
Due: Label clipboard PRs

fix table rows expanded constructor
  tanstack-table/src/main/scala/lucuma/react/table/Expanded.scala
Due: Label tanstack-table PRs

API update for react-markdown
  markdown/src/main/scala/lucuma/react/markdown/ReactMarkdown.scala
Due: Label markdown PRs

Update binary version
  build.sbt
Due: none
