Repository gemini-hlsw/lucuma-react: changes, and which Mergify rules are due for each by the changed paths.
All: Label beautiful-dnd PRs, Label beautiful-dnd-demo PRs, Label circular-progressbar PRs, Label clipboard PRs, Label common PRs, Label datepicker PRs, Label datepicker-demo PRs, Label draggable PRs, Label floatingui PRs, Label font-awesome PRs, Label grid-layout PRs, Label grid-layout-demo PRs, Label highcharts PRs, Label highcharts-demo PRs, Label hotkeys PRs, Label hotkeys-demo PRs, Label markdown PRs, Label moon PRs, Label prime-react PRs, Label prime-react-demo PRs, Label resizable PRs, Label resizable-demo PRs, Label resize-detector PRs, Label rootBeautifulDnd PRs, Label rootClipboard PRs, Label rootCore PRs, Label rootDatepicker PRs, Label rootDraggable PRs, Label rootFloatingui PRs, Label rootGridLayout PRs, Label rootHighcharts PRs, Label rootHotkeys PRs, Label rootPrimeReact PRs, Label rootResizable PRs, Label rootTanstackTable PRs, Label tanstack-table PRs, Label tanstack-table-demo PRs, Label test PRs

Label beautiful-dnd PRs:
  label:
    add:
    - beautiful-dnd
    remove: []

Label beautiful-dnd-demo PRs:
  label:
    add:
    - beautiful-dnd-demo
    remove: []

Label circular-progressbar PRs:
  label:
    add:
    - circular-progressbar
    remove: []

Label clipboard PRs:
  label:
    add:
    - clipboard
    remove: []

Label common PRs:
  label:
    add:
    - common
    remove: []

Label datepicker PRs:
  label:
    add:
    - datepicker
    remove: []

Label datepicker-demo PRs:
  label:
    add:
    - datepicker-demo
    remove: []

Label draggable PRs:
  label:
    add:
    - draggable
    remove: []

Label floatingui PRs:
  label:
    add:
    - floatingui
    remove: []

Label font-awesome PRs:
  label:
    add:
    - font-awesome
    remove: []

Label grid-layout PRs:
  label:
    add:
    - grid-layout
    remove: []

Label grid-layout-demo PRs:
  label:
    add:
    - grid-layout-demo
    remove: []

Label highcharts PRs:
  label:
    add:
    - highcharts
    remove: []

Label highcharts-demo PRs:
  label:
    add:
    - highcharts-demo
    remove: []

Label hotkeys PRs:
  label:
    add:
    - hotkeys
    remove: []

Label hotkeys-demo PRs:
  label:
    add:
    - hotkeys-demo
    remove: []

Label markdown PRs:
  label:
    add:
    - markdown
    remove: []

Label moon PRs:
  label:
    add:
    - moon
    remove: []

Label prime-react PRs:
  label:
    add:
    - prime-react
    remove: []

Label prime-react-demo PRs:
  label:
    add:
    - prime-react-demo
    remove: []

Label resizable PRs:
  label:
    add:
    - resizable
    remove: []

Label resizable-demo PRs:
  label:
    add:
    - resizable-demo
    remove: []

Label resize-detector PRs:
  label:
    add:
    - resize-detector
    remove: []

Label rootBeautifulDnd PRs:
  label:
    add:
    - rootBeautifulDnd
    remove: []

Label rootClipboard PRs:
  label:
    add:
    - rootClipboard
    remove: []

Label rootCore PRs:
  label:
    add:
    - rootCore
    remove: []

Label rootDatepicker PRs:
  label:
    add:
    - rootDatepicker
    remove: []

Label rootDraggable PRs:
  label:
    add:
    - rootDraggable
    remove: []

Label rootFloatingui PRs:
  label:
    add:
    - rootFloatingui
    remove: []

Label rootGridLayout PRs:
  label:
    add:
    - rootGridLayout
    remove: []

Label rootHighcharts PRs:
  label:
    add:
    - rootHighcharts
    remove: []

Label rootHotkeys PRs:
  label:
    add:
    - rootHotkeys
    remove: []

Label rootPrimeReact PRs:
  label:
    add:
    - rootPrimeReact
    remove: []

Label rootResizable PRs:
  label:
    add:
    - rootResizable
    remove: []

Label rootTanstackTable PRs:
  label:
    add:
    - rootTanstackTable
    remove: []

Label tanstack-table PRs:
  label:
    add:
    - tanstack-table
    remove: []

Label tanstack-table-demo PRs:
  label:
    add:
    - tanstack-table-demo
    remove: []

Label test PRs:
  label:
    add:
    - test
    remove: []

Add OverlayPanel
  prime-react/src/main/scala/lucuma/react/primereact/OverlayPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/PrimeStyles.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/UseOverlayPanelRef.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/hooks.scala
Due: Label prime-react PRs

Reformat
  prime-react/src/main/scala/lucuma/react/primereact/OverlayPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/PrimeStyles.scala
  tanstack-table/src/main/scala/lucuma/react/table/Expanded.scala
Due: Label prime-react PRs, Label tanstack-table PRs

Some improvements from PR comments
  prime-react/src/main/scala/lucuma/react/primereact/OverlayPanel.scala
Due: Label prime-react PRs

Update base version
  build.sbt
Due: none

Add control to set a tooltip as open
  floatingui/src/main/scala/lucuma/react/floatingui/Tooltip.scala
  floatingui/src/main/scala/lucuma/react/floatingui/syntax.scala
Due: Label floatingui PRs

Update binary version
  build.sbt
Due: none

Tooltip component
  common/src/main/scala/lucuma/react/common/style/package.scala
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/Tooltip.scala
  prime-react/src/main/scala/lucuma/react/primereact/TooltipOptions.scala
  prime-react/src/main/scala/lucuma/react/primereact/tooltip/package.scala
Due: Label common PRs, Label prime-react PRs, Label prime-react-demo PRs

support Tooltip in SVG
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/Tooltip.scala
  prime-react/src/main/scala/lucuma/react/primereact/tooltip/package.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

bump base version
  build.sbt
Due: none

better tooltip api and shorthands
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/Tooltip.scala
  prime-react/src/main/scala/lucuma/react/primereact/tooltip/package.scala
Due: Label prime-react PRs, Label prime-react-demo PRs

Add onHide and onShow callbacks to OverlayPanel
  prime-react/src/main/scala/lucuma/react/primereact/OverlayPanel.scala
Due: Label prime-react PRs

Bump base version to 0.61. This isn't being caught during CI
  build.sbt
Due: none

Treat `project` as disjoint axis in CI matrix
  .github/workflows/ci.yml
  build.sbt
Due: none

add missing key in table renderer
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs

remove table subcomponent
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label tanstack-table PRs

react-table full scala facade, with meta
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table3.scala
  tanstack-table/src/main/scala/lucuma/react/table/Cell.scala
  tanstack-table/src/main/scala/lucuma/react/table/CellContext.scala
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinningPosition.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/Header.scala
  tanstack-table/src/main/scala/lucuma/react/table/HeaderContext.scala
  tanstack-table/src/main/scala/lucuma/react/table/HeaderGroup.scala
  tanstack-table/src/main/scala/lucuma/react/table/HooksApiExt.scala
  tanstack-table/src/main/scala/lucuma/react/table/Row.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowModel.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

opaque types for all ids, consistent spacing
  tanstack-table/src/main/scala/lucuma/react/table/CellContext.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/Header.scala
  tanstack-table/src/main/scala/lucuma/react/table/HeaderContext.scala
  tanstack-table/src/main/scala/lucuma/react/table/HeaderGroup.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowModel.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
Due: Label tanstack-table PRs

chart facade rework
  highcharts-demo/src/main/scala/lucuma/react/highcharts/demo/Demo.scala
  highcharts/src/main/scala/lucuma/react/highcharts/Chart.scala
  highcharts/src/main/scala/lucuma/react/highcharts/ResizingChart.scala
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
Due: Label highcharts PRs, Label highcharts-demo PRs

Update lucuma-typed - includes changes for highcharts and prime-react
  build.sbt
  highcharts-demo/src/main/scala/lucuma/react/highcharts/demo/Demo.scala
  prime-react/src/main/scala/lucuma/react/primereact/DropdownBase.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnOrder.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinningPosition.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSort.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnVisibility.scala
  tanstack-table/src/main/scala/lucuma/react/table/Expanded.scala
  tanstack-table/src/main/scala/lucuma/react/table/Sorting.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
Due: Label highcharts-demo PRs, Label prime-react PRs, Label tanstack-table PRs

Fix to chart race condition.
  highcharts/src/main/scala/lucuma/react/highcharts/Chart.scala
Due: Label highcharts PRs

Add plugin for external links
  markdown/src/main/scala/lucuma/react/markdown/ReactMarkdown.scala
Due: Label markdown PRs

Fix the fix
  highcharts/src/main/scala/lucuma/react/highcharts/Chart.scala
Due: Label highcharts PRs

new resize detector library
  build.sbt
  package-lock.json
  package.json
  resize-detector/src/main/scala/lucuma/react/resizeDetector/ResizeDetector.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/package.scala
Due: Label resize-detector PRs

broader ref types for tables
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Due: Label tanstack-table PRs

col & row pinning API
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinningPosition.scala
  tanstack-table/src/main/scala/lucuma/react/table/Row.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinningEnabled.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinningPosition.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
Due: Label tanstack-table PRs

small rename
  tanstack-table/src/main/scala/lucuma/react/table/RowPinningEnabled.scala
Due: Label tanstack-table PRs

improve pinned API, contemplate in render
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/PartialTableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinningEnabled.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableState.scala
Due: Label tanstack-table PRs

update UndefinedPriorityJs for table
  build.sbt
  tanstack-table/src/main/scala/lucuma/react/table/UndefinedPriority.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/package.scala
Due: Label tanstack-table PRs

fix virtualizer padder colSpan
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs

possible fix to chart race condition
  highcharts/src/main/scala/lucuma/react/highcharts/Chart.scala
Due: Label highcharts PRs

correctly set chart unmounting
  highcharts/src/main/scala/lucuma/react/highcharts/Chart.scala
Due: Label highcharts PRs

<td> in table footers
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table1.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Due: Label tanstack-table PRs, Label tanstack-table-demo PRs

remove unused import
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Table1.scala
Due: Label tanstack-table-demo PRs

Path conditions:
  Label beautiful-dnd PRs: any of: ^beautiful-dnd/
  Label beautiful-dnd-demo PRs: any of: ^beautiful-dnd-demo/
  Label circular-progressbar PRs: any of: ^circular-progressbar/
  Label clipboard PRs: any of: ^clipboard/
  Label common PRs: any of: ^common/
  Label datepicker PRs: any of: ^datepicker/
  Label datepicker-demo PRs: any of: ^datepicker-demo/
  Label draggable PRs: any of: ^draggable/
  Label floatingui PRs: any of: ^floatingui/
  Label font-awesome PRs: any of: ^font-awesome/
  Label grid-layout PRs: any of: ^grid-layout/
  Label grid-layout-demo PRs: any of: ^grid-layout-demo/
  Label highcharts PRs: any of: ^highcharts/
  Label highcharts-demo PRs: any of: ^highcharts-demo/
  Label hotkeys PRs: any of: ^hotkeys/
  Label hotkeys-demo PRs: any of: ^hotkeys-demo/
  Label markdown PRs: any of: ^markdown/
  Label moon PRs: any of: ^moon/
  Label prime-react PRs: any of: ^prime-react/
  Label prime-react-demo PRs: any of: ^prime-react-demo/
  Label resizable PRs: any of: ^resizable/
  Label resizable-demo PRs: any of: ^resizable-demo/
  Label resize-detector PRs: any of: ^resize-detector/
  Label rootBeautifulDnd PRs: any of: ^rootBeautifulDnd/
  Label rootClipboard PRs: any of: ^rootClipboard/
  Label rootCore PRs: any of: ^rootCore/
  Label rootDatepicker PRs: any of: ^rootDatepicker/
  Label rootDraggable PRs: any of: ^rootDraggable/
  Label rootFloatingui PRs: any of: ^rootFloatingui/
  Label rootGridLayout PRs: any of: ^rootGridLayout/
  Label rootHighcharts PRs: any of: ^rootHighcharts/
  Label rootHotkeys PRs: any of: ^rootHotkeys/
  Label rootPrimeReact PRs: any of: ^rootPrimeReact/
  Label rootResizable PRs: any of: ^rootResizable/
  Label rootTanstackTable PRs: any of: ^rootTanstackTable/
  Label tanstack-table PRs: any of: ^tanstack-table/
  Label tanstack-table-demo PRs: any of: ^tanstack-table-demo/
  Label test PRs: any of: ^test/
